{% extends "base.html" %}
{% load static %}

{% block title %} Edit your profile | NNRA digital network {% endblock %}

{% block content %}
<section class="edit-profile-section">
    <div class="top">
        <p class="txt-welcome">Welcome, Onuh Udochukwu</p>
        <p class="txt-edit">Edit your profile information</p>
    </div>
    <div class="bottom">
        <form class="b-left">
            <p class="pic-intro">Your profile Picture</p>
            <div class="edit-picture-container">
                <img src="{% static 'img/samples/s8.jpg' %}" alt="" class="profile-img">
                <div class="right-con">
                    <button class="btn-change-photo">Change photo</button>
                    <button class="btn-remove-photo"><i class="ri-delete-bin-line"></i> Remove Photo</button>
                </div>
            </div>

            <div class="account-information-container">
                <p class="ac-heading">Account Information</p>

                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" value="Udochukwu" class="text-input">

                
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" value="Onuh" class="text-input width-controller">

                
                <label for="phone">Phone number</label>
                <input type="text" name="phone" value="09083928284" class="text-input width-controller">

                  
                <label for="about">About</label>
                <textarea name="about" id="" cols="30" rows="7" class="text-input width-controller" placeholder="Tell us more about yourself"></textarea>

                <label for="department">Department</label>
                <select name="department" id="input-select" class="dept-select width-controller text-input">
                    {% for office in offices %}
                    <option value="{{office.id}}">{{office.office_name}}</option>
                    {% endfor %}
                </select>

                <button class="toggler-btn width-controller" type="submit">Save profile</button>
            </div>


        </form>
    
        <div class="b-right">
            <div class="why-container">
                <div class="why-background">

                </div>

                <div class="why-text-image">
                    <div class="why-text">
                        <p class="txt-foster">Foster a trusting environment</p>
                        <p class="txt-desc">complete your profile with key details. 
                            Your information helps create stronger 
                            connections and fosters a more vibrant 
                            network. 
                            Thank you for contributing to our 
                            thriving community!</p>
                    </div>
                    <img src="{% static 'img/user-why.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
   
</section>
{% endblock %}