{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your profile | NNRA digital network</title>
    <link rel="stylesheet" href="{% static 'style/css/profile.css' %}" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">

    
      <!--=============== REMIX ICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <section class="edit-profile-section">
        <div class="top">
            <p class="txt-welcome">Welcome, {{profile.user.get_full_name}}</p>
            <!-- <p class="txt-edit">Edit your profile information</p> -->
            <p class="txt-edit">{{profile.user.email}}</p>

        </div>
        <div class="bottom">
            <form class="b-left" method="post" id="edit-profile-form">
                {% csrf_token %}
                <p class="pic-intro">Your profile Picture</p>
                <div class="edit-picture-container">
                    <a href="{{profile.profileImg.url}}" target="_blank">
                        <img src="{{profile.profileImg.url}}" alt="" class="profile-img">
                    </a>
                    <input type="file" name="new-photo" id="file-new-photo" style="display: none;" accept=".png, .jpg, .jpeg">

                    <div class="right-con">
                        <button class="btn-change-photo" type="button">Change photo</button>
                        {% if profile.profileImg != 'def-user-img.png' %}
                        <button class="btn-remove-photo" type="button"><i class="ri-delete-bin-line"></i> Remove Photo</button>
                        {% endif %}
                    </div>
                </div>
    
                <div class="account-information-container">
                    <p class="ac-heading">Account Information</p>
    
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" value="{{profile.user.first_name}}" class="text-input width-controller" >
    
                    
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" value="{{profile.user.last_name}}" class="text-input width-controller">
    
                    
                    <label for="username">Username</label>
                    <input type="text" name="username" value="{{profile.user.username}}" class="text-input width-controller">

                    <label for="phone">Phone number</label>
                    <input type="text" name="phone" value="{% if profile.phone %}{{profile.phone}}{% endif %}" class="text-input width-controller">
    
                      
                    <label for="about">About</label>
                    <textarea name="about" id="" cols="30" rows="7"  class="text-input width-controller">{% if profile.about %}{{profile.about}}{% endif %}</textarea>
    
                    <label for="department">Department</label>
                    <select name="department" id="input-select" class="dept-select width-controller text-input">
                        {% for office in offices %}
                        <option value="{{office.id}}" {% if office.id == profile.office.id %} selected {% endif %}>{{office.office_name}}</option>
                        {% endfor %}
                    </select>
    
                    <button class="toggler-btn width-controller btn-submit" type="submit">
                        <img src="{% static 'img/spinner.gif' %}" alt="">
                        Save profile</button>
                </div>
            </form>
        
            <div class="b-right">
                <div class="why-container">
                    <div class="why-background width-controller">
    
                    </div>
    
                    <div class="why-text-image">
                        <div class="why-text">
                            <p class="txt-foster">Foster a trusting environment</p>
                            <p class="txt-desc">Complete your profile with key details. 
                                Your information helps create stronger 
                                connections and fosters a more vibrant 
                                network. 
                                Thank you for contributing to our 
                                thriving community!</p>
                        </div>
                        <img src="{% static 'img/user-why.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
       
    </section>

    <div class="modal-section" >
        <div class="modal-content confirmation-modal-one" >
          <p class="modal-message"> Are you sure you want to delete your profile photo?</p>
          <div class="bottom-actions">
                <p class="p-cancel">CANCEL</p>
                <p class="p-continue">CONTINUE</p>
          </div>
        </div>
      </div>
    </div>


    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/components.js' %}"></script>
    <script src="{% static 'js/editprofile.js' %}"></script>

</body>
</html>
