{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View all {{page}} | NNRA digital network</title>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
  <link rel="stylesheet" href="{% static 'style/css/listitems.css' %}" type="text/css">    
  <!--=============== REMIX ICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <section class="list-all-section">
    <div class="left-nav">
      <img
        src="{% static 'img/transp-logo.png' %}"
        alt="Nigerian Nuclear Regulatory Authority"
        class="logo-img"
      />
  
      <div class="options-select-container">
        <a class="option-item {% if page == 'people' %}selected{% endif %}" href="{% url 'accounts:listitems' %}">
          <svg class="svg-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20 22H18V20C18 18.3431 16.6569 17 15 17H9C7.34315 17 6 18.3431 6 20V22H4V20C4 17.2386 6.23858 15 9 15H15C17.7614 15 20 17.2386 20 20V22ZM12 13C8.68629 13 6 10.3137 6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 10.3137 15.3137 13 12 13ZM12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"></path></svg>        
        </a>
  
        <a class="option-item {% if page == 'departments' %}selected{%endif%}" href="{% url 'accounts:listdepartment' %}">
          <svg class="svg-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19ZM8 15H16V17H8V15Z"></path></svg>
         
        </a>
        
        {% if page == 'people' %}
        <div class="user-image-container">
          <img src="{{user_profile.profileImg.url}}" alt="" />
        </div>
        {% endif %}
      </div>
    </div>
  
    {% if page == 'people'%}
    <div class="middle-content">
      <div class="top-middle">
        <p class="top-heading-text">People</p>
  
        {% if fd or search_term %}
        <div class="filter-present">
          <p class="filter-msg">Applying filters</p>
  
          <div class="filters-container">
            {% if search_term %}
            <div class="filter">
              <p>{{ search_term }}</p>
              <a href="/accounts/list/{% if fd %}?fd={{ fd }} {% endif %}">
              
                <svg class="svg-15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>

              </a>
            </div>
            {% endif %}
  
            {% if fd %}
            <div class="filter">
              <p>{{fd}}</p>
              <a href="/accounts/list/{% if search_term %}?search={{search_term}} {% endif %}">
                <svg class="svg-15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>              
              </a>
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
        
      </div>
  
      <div class="search-filter-container">
        <form class="search-input-container" id="search-form">
          {% csrf_token %}
          {% if search_term %}
          <input type="text" class="search-input" placeholder="Search a person" value="{{search_term}}" />
          {% else %}
          <input type="text" class="search-input" placeholder="Search a person"/>
          {% endif %}
  
          <!-- <i class="ri-search-line"></i> -->

          <svg class="svg-15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z"></path></svg>

        </form>
  
        <div class="filter" id="btn-filter-dept">

          <svg class="svg-15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M14 14V20L10 22V14L4 5V3H20V5L14 14ZM6.4037 5L12 13.3944L17.5963 5H6.4037Z"></path></svg>

        </div>
      </div>
  
      <div class="user-cards-container">
          {% for profile in profiles %}
          <div class="user-card" data-profile_id="{{profile.id}}" data-username="{{profile.user.username}}" data-firstname="{{profile.user.first_name}}" data-lastname="{{profile.user.last_name}}">
              <img
                src="{{ profile.profileImg.url }}"
                alt=""
                class="profile-img"
              />
              <p class="txt-fullname">{{profile.user.get_full_name}}</p>
              <p class="sub-text">{{profile.user.username}}</p>
              {% if profile.phone %}
              <p class="sub-text">{{profile.phone}}</p>
              {% endif %}
            
              
              <div class="status {% if profile.is_online %}online{% else %}offline{% endif %}">
                <p>{% if profile.is_online %}online{% else %}offline{% endif %}</p>
              </div>
      
              <div class="department">

                <svg class="svg-15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19ZM8 15H16V17H8V15Z"></path></svg>

                <p>{{profile.office.office_name}}</p>
              </div>
            </div>
            {% empty %}
            <div class="empty-result">
              <i class="ri-indeterminate-circle-line"></i>
              <p>Oops.. No user matches that lookup</p>
            </div>
          {% endfor %}
  
        <!-- <div class="user-card">
          <img
            src="{% static 'img/samples/s3.jpg' %}"
            alt=""
            class="profile-img"
          />
          <p class="txt-fullname">Martins Okonkwo</p>
          <p class="sub-text">beekeeper</p>
          <p class="sub-text">+2348143015512</p>
  
          <div class="status online">
            <p>Online</p>
          </div>
  
          <div class="department">
            <i class="ri-home-3-line"></i>
            <p>Nuclear security and something something</p>
          </div>
        </div> -->
 
      </div>


    </div>
    <div class="right-profile-content" id="profile-section">
  
      <div class="profile-tile-container profile" style="display: none;">
          <div class="profile-tile profile">
              <div class="top-info">
                <div class="left-con">
                  <h4 class="profile-username">[404]</h4>
                  <p class="profile-fullname">[404]</p>
                </div>
        
                <i class="ri-close-line" onclick="closeRightProfileContent()"></i>
              </div>
        
              <div class="profile-img-status-con">
                <div class="con">
                  <img
                    src="{% static 'img/samples/s1.jpg' %}"
                    alt=""
                    style="background-color: #acacad"
                  />
                  <div class="status">
                    <div class="circle"></div>
                    <p>[404]</p>
                  </div>
                </div>
              </div>
        
              <div class="profile-information">
                <p class="username">[404]</p>
                <p class="about">
                  [404]
                </p>
        
                <div class="extras-container">
                  <div class="extra">
                    <i class="ri-mail-fill"></i>
                    <div class="extra-info">
                      <p class="extra-description">Email Address</p>
                      <p class="extra-content">[404]</p>
                    </div>
                  </div>
        
                  <div class="extra">
                    <i class="ri-phone-fill"></i>
                    <div class="extra-info">
                      <p class="extra-description">Phone</p>
                      <p class="extra-content">[404]</p>
                    </div>
                  </div>
                </div>
              </div>
        
              <button class="chat-with-person">
                <i class="ri-message-2-line"></i>
                <p>[404]</p>
              </button>
            </div>
      </div>
      
      <div class="placeholder idle">
        <img
          src="{% static 'img/transp-logo.png' %}"
          alt="Nigerian Nuclear Regulatory Authority"
        />
        <p>NNRA digital network</p>
      </div>
  
      <div class="loading-container loading" style="display: none">
        <img src="{% static 'img/spinner.gif' %}" alt="" />
        <p>Fetching profile..</p>
      </div>
    </div>
    {% elif page == 'departments' %}
      <div class="middle-content department">
        <div class="top-middle">
          <p class="top-heading-text">NNRA Departments</p>
        </div>

        <!-- <div class="search-filter-container">
          <form class="search-input-container" id="search-form">
            {% csrf_token %}
            {% if search_term %}
            <input type="text" class="search-input" placeholder="Search" value="{{search_term}}" />
            {% else %}
            <input type="text" class="search-input" placeholder="Search"/>
            {% endif %}
    
            <i class="ri-search-line"></i>
          </form>
        </div> -->

        <div class="department-cards-container">
          {% for office in offices%}
            <a class="department-card" href="/accounts/list/?fd={{office.office_name}}" style="text-decoration: none;">
              <p class="department-name">{{office.office_name}}</p>

              <div class="user-num">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H18C18 18.6863 15.3137 16 12 16C8.68629 16 6 18.6863 6 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11Z"></path></svg>
                
                <div class="num-emp">
                  <p class="num">{{office.employee_count}}</p>
                  <p class="emp">Employee{{office.employee_count|pluralize}}</p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          

      </div>
    {% endif %}
  </section>
  
  <div class="modal-section" id="select-dept-modal">
    <div class="modal-content" style="padding: 10px;">
      <div class="header-search-title">
          <h3 style="font-size: 0.9rem;">Filter by department</h3>
          <!-- <input type="text" placeholder="Search" class="search-input"> -->
          <div class="messages-container" id="messages-container">
  
          </div>
      </div>
  
    <div class="hor-line"></div>
      <div class="departments-container">
        
        {% for office in offices %}
        <div class="department-item" data-office_name="{{office.office_name}}" data-dept_name="{{office.department.dept_name}}" data-office_id-="{{office.id}}">
            <span class="selected-indicator"></span>
            <div class="right">
                <p class="office-name">{{ office.office_name }}</p>
                <p class="department-name">{{ office.department.dept_name }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="hor-line"></div>
  
    <div class="bottom-container" style="justify-content: center;">
        <button class="toggler-btn" style="width: max-content;" id="btn-continue">
            <img src="{% static 'img/spinner.gif' %}" alt="">Apply</button>
    </div>
  </div>
    </div>
  </div>
  
  <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script src="{% static 'js/components.js' %}"></script>
  <script src="{% static 'js/list.js' %}"></script>
</body>
</html>
