{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | NNRA Digital Network</title>
    <link rel="stylesheet" href="{% static 'style/css/auth_style.css' %}">

    <!--=============== REMIX ICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <div class="form-holder">
            <img src="{% static 'img/logo.png' %}" alt="Nnra logo">
            <h2 class="form-title">Sign up</h2>
            <p class="form-prompt">Welcome to NNRA digital network, please fill the form below to signup for an account</p>

            <div class="alert-containers">
                {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    <i class="ri-message-3-line"></i>                    
                    <p>{{message}}</p>
                </div>
                {% endfor %}
               
            </div>
            <form action="">
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirm-password" placeholder="Confirm password" onclick="showToast({message: 'Your account is not verified, please click on the verification link sent to your email to verify your email', style: 'success', duration: 10000})">

                <input type="submit" value="Submit" >
            </form>

            
        </div>
    </div>


    <script src="{% static 'js/components.js' %}"></script>
</body>
</html>
