{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request a new password | NNRA digital network</title>

    <link rel="stylesheet" href="{% static 'style/css/auth_style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">

     <!--=============== REMIX ICONS ===============-->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <img src="{% static 'img/lock-top-left.png' %}" alt="" class="graphic-top-left graphic-lock">
    <img src="{% static 'img/lock-bottom-right.png' %}" alt="" class="graphic-bottom-right graphic-lock">

    <div class="container">
        <div class="form-holder">
            <img src="{% static 'img/logo.png' %}" alt="Nnra logo">
            <h3 class="form-title">NNRA Digital Network <br> <span>Reset password</span> </h3>

            <p class="form-prompt">Enter the email address associated with your account</p>
            <div class="alert-containers" id="con-one">
                {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    <i class="ri-message-3-line"></i>                    
                    <p>{{message}}</p>
                </div>
                {% endfor %}
               
            </div>
            <form action="" method="post">
                
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="submit" value="Submit" >
            </form>
            
        </div>
    </div>


    <script src="{% static 'js/components.js' %}"></script>
</body>
</html>