<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Document</title>
</head>

<style>
    *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }

        p{
            font-size: 0.8rem;
        }
</style>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="padding: 5px;">
    <br>
    <br>
    <p style="width: 100%; height: 0.6px; background-color: #919191;"></p>
    <br>
    <br>


    <p>Hello {{user.username}} </p> <br>
    <p>Heres your verification code for NNRA digital network: </p> <br>
    <h2>{{otpcode.code}}</h2> <br>
    <p>This code will expire in 10 minutes </p> 

    <br>
    <br>
    <br>
    <p style="width: 100%; height: 0.6px; background-color: #919191;"></p>
    <br>
    <p>Welcome to NNRA digital network </p>

    
</body>