{% load static %}

<footer>
    <img src="{% static 'img/transp-logo.png' %}" alt="Nigerian Nuclear Regulatory Authority" class="logo-img">
    <h2 class="logo-text">Nigerian Nuclear <br> Regulatory Authority </h2>
    <p class="motto-text">Ensuring best practices and protection of life</p>

    <div class="addons-container">
        <div class="addon">
            <i class="ri-phone-fill"></i>
            <div class="addon-right">
                <p>Give us a call</p>
                <h4>+234 901 000 2505</h4>
            </div>
        </div>

        <div class="addon">
            <i class="ri-mail-fill"></i>
            <div class="addon-right">
                <p>Send us an email</p>
                <h4>official.mail@nnra.gov.ng</h4>
            </div>
        </div>

        <div class="addon">
            <i class="ri-home-4-fill"></i>
            <div class="addon-right">
                <p>Visit us in person</p>
                <h4>564/565 Airport Road, Central Business District, Abuja.</h4>
            </div>
        </div>


        <div class="addon">
            <i class="ri-global-line"></i>
            <div class="addon-right">
                <p>Our official website</p>
                <h4>https://nnra.gov.ng/nnra/</h4>
            </div>
        </div>

    </div>

    <div class="hor-line-divider"> </div>
    <div class="copyright-message">
        <p>Copyright 2024 NNRA. All Rights Reserved</p>
    </div>
</footer>