{% extends "base.html" %}
{% load static %}
{% block title %} NNRA circle | Home {% endblock %}

{% block content %}
{% include "nav.html" %}
<section class="hero-section section">
    <div class="container">
        <div class="left-content">
            <div class="top-showcase">
                <i class="ri-home-3-line"></i>
                <p>Unified Vision, Collective Strength</p>
            </div>

            <h1 class="main-text">Collaboration <br> made easier <br> among staff <br> </h1>
            <p class="welcome-txt">Welcome to NNRA's Collaborative Digital Environment</p>

            <div class="buttons-container">
                <a href="{% url "accounts:register" %}"><button class="btn-get-started">Get Started</button></a>
                <button class="btn-learn-more">Learn more</button>
            </div>

        </div>

        <div class="right-content">
            <div class="floating">
                <img src="{% static 'img/connect-people.svg' %}" alt="NNRA circle connects people">
            </div>
            <!-- <div class="image-container">
                <img src="{% static 'img/hero.png' %}" alt="NNRA Collaboration">

            </div> -->
        </div>
    </div>
</section>

<section class="why-use-digital-network section break-section">
    <div class="container">
        <div class="left-content">
            <h1>Optimizing Collaboration <br> for Improved Results</h1>
        </div>

        <div class="right-content">
            <div class="reason-card">
                <div class="reason-image" style="background-color: #EEF6F2;">
                    <i class="ri-message-2-line" style="color: #6BBC86;"></i>
                 </div>
                <div class="text-container">
                    <h4 class="card-title">Send instant messages</h4>
                    <p class="card-des">   
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, iusto obcaecati. 
                    </p>
                </div>
            </div>

            <!-- <div class="reason-card">
                <div class="reason-image" style="background-color: #F7F6F7;">
                    <i class="ri-video-chat-line" style="color: #7957A7;"></i>
                 </div>
                <div class="text-container">
                    <h4 class="card-title">Multi peer video calls</h4>
                    <p class="card-des">   
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, iusto obcaecati. 
                    </p>
                </div>
            </div> -->

             <div class="reason-card">
                <div class="reason-image" style="background-color: #F7F6F7;">
                    <i class="ri-user-shared-2-line"  style="color: #7957A7;"></i>
                 </div>
                <div class="text-container">
                    <h4 class="card-title">Seamless collaboration</h4>
                    <p class="card-des">   
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, iusto obcaecati. 
                    </p>
                </div>
            </div>

            <div class="reason-card">
                <div class="reason-image" style="background-color: #F4F6F7;">
                    <i class="ri-stackshare-line" style="color: #81A8CF;"></i>
                 </div>
                <div class="text-container">
                    <h4 class="card-title">Share files arround NNRA</h4>
                    <p class="card-des">   
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, iusto obcaecati. 
                    </p>
                </div>
            </div>

            <div class="reason-card">
                <div class="reason-image" style="background-color: #F9F7EE;">
                    <i class="ri-sticky-note-line" style="color: #DD6536;"></i>
                 </div>
                <div class="text-container">
                    <h4 class="card-title">Easily acess NNRA memos and latest information</h4>
                    <p class="card-des">   
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, iusto obcaecati. 
                    </p>
                </div>
            </div>

            
        </div>
    </div>
</section>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}