@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --body-font: "poppins", sans-serif;
  --main-green: #355E2D;
  --like-black: #191D29;
  --soft-grey: #8A9099;
  --soft-red: #EC6249;
  --soft-red2: #9F3418;
  --generic-grey: #f4f4f3;
  --light-red-01: #F2E4DF;
  --text-dark: #49566B;
  --soft-light-green: #E8F4E3;
  --chat-background:#FBFBFB;
  --faint-soft-green: #EBF5EA;
  --hard-light-green: #6BBC50;
  --section-edge-padding: 100px;
  --menu-size: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

.section {
  padding: 0 var(--section-edge-padding);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-dark);
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #ebf5ea;
}

.user-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 400px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}
.user-item .con {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.user-item .con .image-container {
  width: 55px !important;
  height: 55px !important;
  background-color: #e5e5e5;
  border-radius: 50%;
}
.user-item .con .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.user-item .con .username-msg {
  margin-left: 10px;
}
.user-item .con .username-msg h5 {
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.user-item .con .username-msg .l-message {
  max-width: 260px;
  font-size: 0.65rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--soft-grey);
}
.user-item .time-num {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: center;
}
.user-item .time-num .time {
  font-size: 0.8rem;
}
.user-item .time-num .num-container {
  background-color: var(--main-green);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.user-item .time-num .num-container .num {
  color: white;
  font-size: 0.7rem;
}

.header-search-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header-search-title input[type=text] {
  padding: 15px;
  width: 90%;
  background-color: #F3F3F3;
  outline: none;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
}

.departments-container::-webkit-scrollbar {
  width: 0.3rem;
  background-color: var(--chat-background);
}

.departments-container::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: rgba(130, 138, 138, 0.7058823529);
}

.departments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  overflow-y: scroll;
}
.departments-container .department-not-found {
  display: flex;
  opacity: 0.6;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.departments-container .department-not-found i {
  font-size: 1.3rem;
  color: var(--text-dark);
}
.departments-container .department-item {
  cursor: pointer;
  margin: 3px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.departments-container .department-item .selected-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--main-green);
}
.departments-container .department-item .right {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}
.departments-container .department-item .right .office-name {
  color: #303132;
  font-weight: 500;
}
.departments-container .department-item .right .department-name {
  font-size: 0.7rem;
  color: #303132;
  opacity: 0.6;
}
.departments-container .department-item.selected {
  background-color: #F3F3F3;
}
.departments-container .department-item.selected .selected-indicator {
  background-color: var(--main-green);
}

.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-items: center;
}
.bottom-container img {
  width: 30px;
  height: 30px;
}
.bottom-container button {
  background-color: var(--main-green);
  width: 90% !important;
}

.hor-line {
  width: 90%;
  background-color: #F3F4F4;
  height: 1.7px;
}

.modal-section {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-section .modal-content {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: var(--default-modal-padding);
  border-radius: 5px;
}
.modal-section .modal-content p {
  opacity: 0.7;
}

.modal-section.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggler-btn {
  background-color: var(--main-green);
  color: white;
  display: flex;
  flex-direction: row;
  outline: none;
  border: none;
  padding: 15px !important;
  margin: 10px 0;
  align-items: center;
  width: 95%;
  max-width: 450px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
}
.toggler-btn img {
  width: 20px !important;
  height: 20px !important;
  display: none;
}

.toggler-btn:disabled {
  background-color: var(--soft-grey);
  opacity: 0.5;
  cursor: not-allowed;
}
.toggler-btn:disabled img {
  display: block;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}
form p {
  width: 100%;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
form .errorlist {
  width: 100%;
  list-style-type: none;
  padding: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 23px;
  max-width: 350px;
  text-align: start;
}
form .errorlist li {
  color: var(--soft-red);
  font-size: 0.85rem;
}
form label {
  display: none;
}
form input {
  width: 100%;
  background-color: transparent;
  padding: 0.9rem;
  border: none;
  border-bottom: 0.5px solid rgb(126, 123, 123);
  outline: none;
}
form input[type=submit] {
  background-color: var(--main-green);
  color: white;
  cursor: pointer;
}

.graphic-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.graphic-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.hor-line {
  width: 100%;
  height: 0.5px;
  background-color: var(--text-dark);
  margin: 20px 0;
}

.flex-row-center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toast {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transform: translateY(-150%); /* Initially off-screen */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
  transition: transform 0.5s ease-in-out; /* Animation duration and easing */
}
.toast .toast-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.9rem;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
.toast .toast-con .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toast .toast-con .left i {
  color: var(--soft-red);
  font-size: 1.5rem;
  margin-top: 2px;
}
.toast .toast-con .left p {
  font-size: 0.9rem;
  margin-left: 5px;
  color: var(--soft-red);
}
.toast .toast-con .right i {
  font-size: 1.2rem;
  color: var(--soft-grey);
  cursor: pointer;
}
.toast .progress-container {
  width: 100%;
  padding: 0;
}
.toast .progress-container progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
.toast .progress-container progress::-webkit-progress-bar {
  background-color: var(--generic-grey);
}
.toast .progress-container progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--soft-red);
}

.alert-containers {
  width: 90%;
}

.alert {
  transition: all 0.6s ease-in-out;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  background-color: var(--light-red-01);
  margin: 15px auto;
  padding: 0.9rem;
  align-items: center;
}
.alert i {
  color: var(--soft-red);
  font-size: 1.7rem;
}
.alert p {
  margin-left: 10px;
  font-size: 0.9rem;
  color: var(--soft-red);
}

.alert.error {
  background-color: var(--light-red-01);
}
.alert.error p {
  color: var(--soft-red);
}
.alert.error i {
  color: var(--soft-red);
}

.alert.warning {
  background-color: #f7f2e2;
}
.alert.warning p {
  color: #e9b254;
}
.alert.warning i {
  color: #e9b254;
}

.alert.success {
  background-color: #ecf3e4;
}
.alert.success p {
  color: #9dd367;
}
.alert.success i {
  color: #9dd367;
}

.toast.success .toast-con .left i {
  color: var(--main-green);
}
.toast.success .toast-con .left p {
  color: var(--main-green);
}
.toast.success .toast-con .right i {
  color: var(--main-green);
}
.toast.success .progress-container {
  width: 100%;
  padding: 0;
}
.toast.success .progress-container progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
.toast.success .progress-container progress::-webkit-progress-bar {
  background-color: #ebedf0;
}
.toast.success .progress-container progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--main-green);
}

footer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .hor-line-divider {
  display: none;
  width: 100%;
  height: 0.9px;
  background-color: var(--text-dark);
  opacity: 0.6;
  margin: 20px 0;
}
footer .copyright-message {
  background-color: var(--main-green);
  padding: 30px;
  text-align: center;
}
footer .copyright-message p {
  font-size: 0.9rem;
  color: white;
}

:root {
  --body-font: "poppins", sans-serif;
  --main-green: #355E2D;
  --like-black: #191D29;
  --soft-grey: #8A9099;
  --soft-red: #EC6249;
  --soft-red2: #9F3418;
  --generic-grey: #f4f4f3;
  --light-red-01: #F2E4DF;
  --text-dark: #49566B;
  --soft-light-green: #E8F4E3;
  --chat-background:#FBFBFB;
  --faint-soft-green: #EBF5EA;
  --hard-light-green: #6BBC50;
  --section-edge-padding: 100px;
  --menu-size: 1.7rem;
}

.graphic-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.graphic-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.graphic-lock {
  width: 80%;
  max-width: 180px;
  opacity: 0.7;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .form-holder {
  width: 90%;
  max-width: 400px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 10px;
}
.container .form-holder img {
  width: 50px;
  height: 50px;
}
.container .form-holder .form-title {
  margin-top: 10px;
  font-size: 1rem;
  color: #1b1e27;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container .form-holder .form-title span {
  color: var(--main-green);
}
.container .form-holder .form-prompt {
  color: var(--soft-grey);
  margin-top: 5px;
  font-size: 0.9rem;
  text-align: center;
}
.container .form-holder form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container .form-holder form p {
  width: 100%;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .form-holder form .errorlist {
  width: 100%;
  list-style-type: none;
  padding: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 23px;
  max-width: 350px;
  text-align: start;
}
.container .form-holder form .errorlist li {
  color: var(--soft-red);
}
.container .form-holder form label {
  display: none;
}
.container .form-holder form input {
  width: 100%;
  margin: 10px 5px;
  max-width: 350px;
  background-color: transparent;
  padding: 0.9rem;
  border: none;
  border-bottom: 0.5px solid rgb(126, 123, 123);
  outline: none;
}
.container .form-holder form input[type=submit] {
  background-color: var(--main-green);
  color: white;
  cursor: pointer;
}
.container .form-holder .login-option {
  text-align: center;
  margin-top: 10px;
}
.container .form-holder .login-option p {
  margin-top: 10px;
}/*# sourceMappingURL=auth_style.css.map */iner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-items: center;
}
.bottom-container img {
  width: 30px;
  height: 30px;
}
.bottom-container button {
  background-color: var(--main-green);
  width: 90% !important;
}

.hor-line {
  width: 90%;
  background-color: #f3f4f4;
  height: 1.7px;
}

.modal-section {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
  transition: all 0.5s ease-in-out;
}
.modal-section .modal-content {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: var(--default-modal-padding);
  border-radius: 5px;
}
.modal-section .modal-content p {
  opacity: 0.7;
}

.modal-section.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggler-btn {
  background-color: var(--main-green);
  color: white;
  display: flex;
  flex-direction: row;
  outline: none;
  border: none;
  padding: 15px !important;
  margin: 10px 0;
  align-items: center;
  width: 95%;
  max-width: 450px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
}
.toggler-btn img {
  width: 20px !important;
  height: 20px !important;
  display: none;
}

.toggler-btn:disabled {
  background-color: var(--soft-grey);
  opacity: 0.5;
  cursor: not-allowed;
}
.toggler-btn:disabled img {
  display: block;
}

.mod-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}
.mod-form p {
  width: 100%;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mod-form .errorlist {
  width: 100%;
  list-style-type: none;
  padding: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 23px;
  max-width: 350px;
  text-align: start;
}
.mod-form .errorlist li {
  color: var(--soft-red);
  font-size: 0.85rem;
}
.mod-form label {
  display: none;
}
.mod-form input {
  width: 100%;
  background-color: transparent;
  padding: 0.9rem;
  border: none;
  border-bottom: 0.5px solid rgb(126, 123, 123);
  outline: none;
}
.mod-form input[type=submit] {
  background-color: var(--main-green);
  color: white;
  cursor: pointer;
}

.graphic-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.graphic-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.hor-line {
  width: 100%;
  height: 0.5px;
  background-color: var(--text-dark);
  margin: 20px 0;
}

.flex-row-center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toast {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transform: translateY(-150%); /* Initially off-screen */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
  transition: transform 0.5s ease-in-out; /* Animation duration and easing */
  z-index: 999;
}
.toast .toast-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.9rem;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
.toast .toast-con .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toast .toast-con .left i {
  color: var(--soft-red);
  font-size: 1.5rem;
  margin-top: 2px;
}
.toast .toast-con .left p {
  font-size: 0.9rem;
  margin-left: 5px;
  color: var(--soft-red);
}
.toast .toast-con .right i {
  font-size: 1.2rem;
  color: var(--soft-grey);
  cursor: pointer;
}
.toast .progress-container {
  width: 100%;
  padding: 0;
}
.toast .progress-container progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
.toast .progress-container progress::-webkit-progress-bar {
  background-color: var(--generic-grey);
}
.toast .progress-container progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--soft-red);
}

.alert-containers {
  width: 90%;
}

.alert {
  transition: all 0.6s ease-in-out;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  background-color: var(--light-red-01);
  margin: 15px auto;
  padding: 0.9rem;
  align-items: center;
}
.alert i {
  color: var(--soft-red);
  font-size: 1.7rem;
}
.alert p {
  margin-left: 10px;
  font-size: 0.9rem;
  color: var(--soft-red);
}

.alert.error {
  background-color: var(--light-red-01);
}
.alert.error p {
  color: var(--soft-red);
}
.alert.error i {
  color: var(--soft-red);
}

.alert.warning {
  background-color: #f7f2e2;
}
.alert.warning p {
  color: #e9b254;
}
.alert.warning i {
  color: #e9b254;
}

.alert.success {
  background-color: #ecf3e4;
}
.alert.success p {
  color: #9dd367;
}
.alert.success i {
  color: #9dd367;
}

.toast.success .toast-con .left i {
  color: var(--main-green);
}
.toast.success .toast-con .left p {
  color: var(--main-green);
}
.toast.success .toast-con .right i {
  color: var(--main-green);
}
.toast.success .progress-container {
  width: 100%;
  padding: 0;
}
.toast.success .progress-container progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
.toast.success .progress-container progress::-webkit-progress-bar {
  background-color: #ebedf0;
}
.toast.success .progress-container progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--main-green);
}

footer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .hor-line-divider {
  display: none;
  width: 100%;
  height: 0.9px;
  background-color: var(--text-dark);
  opacity: 0.6;
  margin: 20px 0;
}
footer .copyright-message {
  background-color: var(--main-green);
  padding: 30px;
  text-align: center;
}
footer .copyright-message p {
  font-size: 0.9rem;
  color: white;
}

:root {
  --body-font: "poppins", sans-serif;
  --like-black: #191D29;
  --soft-red2: #9F3418;
  --text-dark: #49566B;
  --soft-light-green: #E8F4E3;
  --chat-background:#FBFBFB;
  --faint-soft-green: #EBF5EA;
  --hard-light-green: #6BBC50;
  --memo-background: #F9F9F9;
  --progress-empty: #E2F0DE;
  --txt-darker: #3C3C3C;
  --soft-red: #EC6249;
  --soft-grey: #8A9099;
  --generic-grey: #f4f4f3;
  --light-red-01: #F2E4DF;
  --main-green: #355E2D;
  --section-edge-padding: 100px;
  --menu-size: 1.7rem;
}

html {
  scroll-behavior: smooth;
}

.graphic-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.graphic-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.graphic-lock {
  width: 80%;
  max-width: 180px;
  opacity: 0.7;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .form-holder {
  width: 90%;
  max-width: 400px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 10px;
}
.container .form-holder img {
  width: 50px;
  height: 50px;
}
.container .form-holder .form-title {
  margin-top: 10px;
  font-size: 1rem;
  color: #1b1e27;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container .form-holder .form-title span {
  color: var(--main-green);
}
.container .form-holder .form-prompt {
  color: var(--soft-grey);
  margin-top: 5px;
  font-size: 0.9rem;
  text-align: center;
}
.container .form-holder form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container .form-holder form p {
  width: 100%;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .form-holder form .errorlist {
  width: 100%;
  list-style-type: none;
  padding: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 23px;
  max-width: 350px;
  text-align: start;
}
.container .form-holder form .errorlist li {
  color: var(--soft-red);
}
.container .form-holder form label {
  display: none;
}
.container .form-holder form input {
  width: 100%;
  margin: 10px 5px;
  max-width: 350px;
  background-color: transparent;
  padding: 0.9rem;
  border: none;
  border-bottom: 0.5px solid rgb(126, 123, 123);
  outline: none;
}
.container .form-holder form input[type=submit] {
  background-color: var(--main-green);
  color: white;
  cursor: pointer;
}
.container .form-holder .login-option {
  text-align: center;
  margin-top: 10px;
}
.container .form-holder .login-option p {
  margin-top: 10px;
}/*# sourceMappingURL=auth_style.css.map */