@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;0,900;1,900&display=swap");
:root {
  --body-font: "poppins", sans-serif;
  --main-green: #355E2D;
  --like-black: #191D29;
  --soft-grey: #8A9099;
  --soft-red: #EC6249;
  --soft-red2: #9F3418;
  --generic-grey: #f4f4f3;
  --light-red-01: #F2E4DF;
  --text-dark: #49566B;
  --section-edge-padding: 100px;
  --menu-size: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

.section {
  padding: 0 var(--section-edge-padding);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--like-black);
}

.toast {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transform: translateY(-150%); /* Initially off-screen */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
  transition: transform 0.5s ease-in-out; /* Animation duration and easing */
}
.toast .toast-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.9rem;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
.toast .toast-con .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toast .toast-con .left i {
  color: var(--soft-red);
  font-size: 1.5rem;
  margin-top: 2px;
}
.toast .toast-con .left p {
  font-size: 0.9rem;
  margin-left: 5px;
  color: var(--soft-red);
}
.toast .toast-con .right i {
  font-size: 1.2rem;
  color: var(--soft-grey);
  cursor: pointer;
}
.toast .progress-container {
  width: 100%;
  padding: 0;
}
.toast .progress-container progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
.toast .progress-container progress::-webkit-progress-bar {
  background-color: var(--generic-grey);
}
.toast .progress-container progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--soft-red);
}

.alert-containers {
  width: 90%;
}

.alert {
  transition: all 0.6s ease-in-out;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  background-color: var(--light-red-01);
  margin: 15px auto;
  padding: 0.9rem;
  align-items: center;
}
.alert i {
  color: var(--soft-red);
  font-size: 1.7rem;
}
.alert p {
  margin-left: 10px;
  color: var(--soft-red);
}

.alert.error {
  background-color: var(--light-red-01);
}
.alert.error p {
  color: var(--soft-red);
}
.alert.error i {
  color: var(--soft-red);
}

.alert.warning {
  background-color: #F7F2E2;
}
.alert.warning p {
  color: #E9B254;
}
.alert.warning i {
  color: #E9B254;
}

.alert.success {
  background-color: #ECF3E4;
}
.alert.success p {
  color: #9DD367;
}
.alert.success i {
  color: #9DD367;
}

.toast.success .toast-con .left i {
  color: var(--main-green);
}
.toast.success .toast-con .left p {
  color: var(--main-green);
}
.toast.success .toast-con .right i {
  color: var(--main-green);
}
.toast.success .progress-container {
  width: 100%;
  padding: 0;
}
.toast.success .progress-container progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
.toast.success .progress-container progress::-webkit-progress-bar {
  background-color: #ebedf0;
}
.toast.success .progress-container progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--main-green);
}

:root {
  --body-font: "poppins", sans-serif;
  --main-green: #355E2D;
  --like-black: #191D29;
  --soft-grey: #8A9099;
  --soft-red: #EC6249;
  --soft-red2: #9F3418;
  --generic-grey: #f4f4f3;
  --light-red-01: #F2E4DF;
  --text-dark: #49566B;
  --section-edge-padding: 100px;
  --menu-size: 1.7rem;
}

header {
  width: 100%;
  border-bottom: 0.5px solid var(--like-black);
}
header .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px var(--section-edge-padding);
}
header .container .mobile {
  display: none;
}
header .container .mobile i {
  font-size: var(--menu-size);
}
header .container .el-one {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .container .el-one img {
  width: 40px;
  height: 40px;
}
header .container .el-one p {
  font-size: 1.2rem;
  font-weight: 600;
}
header .container .el-two {
  width: 100%;
  max-width: 350px;
}
header .container .el-two ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
header .container .el-two ul li {
  list-style-type: none;
}
header .container .el-two ul li a {
  text-decoration: none;
  color: var(--like-black);
}
header .container .el-two .close-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  display: none;
}
header .container .el-two .close-nav i {
  font-size: var(--menu-size);
}
header .container .el-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
header .container .el-three .signin {
  background-color: white;
  color: var(--like-black);
  font-weight: 500;
}
header .container .el-three .register {
  background-color: var(--text-dark);
  color: white;
  border-radius: 30px;
}
header .container .el-three button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  outline: none;
}

.hero-section {
  width: 100%;
}
.hero-section .container {
  height: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero-section .left-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero-section .left-content .top-showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}
.hero-section .left-content .top-showcase i {
  color: rgb(253, 168, 56);
}
.hero-section .left-content .top-showcase p {
  color: var(--soft-grey);
}
.hero-section .left-content .welcome-txt {
  font-size: 1rem;
  margin-top: 6px;
}
.hero-section .left-content .main-text {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
}
.hero-section .left-content .buttons-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.hero-section .left-content .buttons-container .btn-get-started {
  background-color: var(--main-green);
  color: white;
}
.hero-section .left-content .buttons-container button {
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
}
.hero-section .right-content {
  width: 50%;
}
.hero-section .right-content .image-container {
  width: 100%;
  max-width: 350px;
  height: 450px;
  margin-left: 100px;
}
.hero-section .right-content .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}

.why-use-digital-network .container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}
.why-use-digital-network .container h1 {
  font-family: "Poppins", sans-serif;
}
.why-use-digital-network .container .left-content {
  padding: 10px;
}
.why-use-digital-network .container .left-content h1 {
  color: var(--text-dark);
}
.why-use-digital-network .container .right-content {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  justify-items: end;
}
.why-use-digital-network .container .right-content .reason-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.why-use-digital-network .container .right-content .reason-card .reason-image {
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  border-radius: 5px;
}
.why-use-digital-network .container .right-content .reason-card .text-container {
  margin-top: 10px;
}
.why-use-digital-network .container .right-content .reason-card .text-container .card-title {
  max-width: 300px;
}
.why-use-digital-network .container .right-content .reason-card .text-container .card-des {
  max-width: 300px;
  font-size: 0.9rem;
  color: var(--soft-grey);
  margin-top: 5px;
}

@media screen and (max-width: 1000px) {
  header .container {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 900px) {
  header .container {
    padding: 20px 30px;
  }
  header .container .el-two {
    top: -300px;
    left: 0;
    background-color: white;
    position: fixed;
    z-index: 999;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in-out;
  }
  header .container .el-two ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
  }
  header .container .el-two.visible {
    top: 0;
  }
  header .container .el-two.visible .close-nav {
    display: block;
  }
  header .container .mobile {
    display: block;
  }
}
@media screen and (max-width: 490px) {
  header .container .el-three {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .hero-section .left-content .main-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 770px) {
  .hero-section .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .hero-section .container .left-content {
    width: 100%;
    margin-top: 30px;
  }
  .hero-section .container .right-content {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .hero-section {
    padding: 0 30px;
  }
  .break-section {
    padding: 0 30px;
  }
}
@media screen and (max-width: 330px) {
  .hero-section {
    padding: 0 20px;
  }
  .break-section {
    padding: 0 20px;
  }
}
@media screen and (max-width: 330px) {
  .hero-section {
    padding: 0 10px;
  }
  .break-section {
    padding: 0 10px;
  }
}
@media screen and (max-width: 800px) {
  .why-use-digital-network .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 460px) {
  .why-use-digital-network .container .right-content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}/*# sourceMappingURL=style.css.map */