@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --body-font: "poppins", sans-serif;
  --like-black: #191D29;
  --soft-red2: #9F3418;
  --text-dark: #49566B;
  --soft-light-green: #E8F4E3;
  --chat-background:#FBFBFB;
  --faint-soft-green: #EBF5EA;
  --hard-light-green: #6BBC50;
  --memo-background: #F9F9F9;
  --progress-empty: #E2F0DE;
  --txt-darker: #3C3C3C;
  --soft-red: #EC6249;
  --soft-grey: #8A9099;
  --generic-grey: #f4f4f3;
  --light-red-01: #F2E4DF;
  --main-green: #355E2D;
  --section-edge-padding: 100px;
  --menu-size: 1.7rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

.section {
  padding: 0 var(--section-edge-padding);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-dark);
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #ebf5ea;
}

.not-found-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found-section h1 {
  font-size: 5rem;
}
.not-found-section .oops-txt {
  font-size: 0.9rem;
  opacity: 0.6;
}
.not-found-section a {
  margin-top: 10px;
}

.pagination {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.pagination a {
  margin: 0;
  text-decoration: none;
  display: flex;
}
.pagination .step-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagination p {
  margin: 0 10px;
}
.pagination .current {
  background-color: transparent;
}
.pagination .current input[type=text] {
  padding: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.memo-section {
  background-color: white;
  padding: 10px 200px;
}

.dynamic-loading-modal-section .dynamic-loading-modal-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
}
.dynamic-loading-modal-section .dynamic-loading-modal-con img {
  width: 30px;
  height: 30px;
}
.dynamic-loading-modal-section .dynamic-loading-modal-con p {
  margin-top: 0.9rem;
  text-align: center;
  margin-left: 10px;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-container img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.user-container .user-info-con {
  margin-left: 0.3rem;
}
.user-container .user-info-con .fullname {
  font-size: 0.65rem;
  opacity: 0.8;
}

.logged-in-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.logged-in-user-info .user-info {
  margin-left: 15px;
}
.logged-in-user-info .user-info .username {
  font-family: "inter", sans-serif;
  font-weight: 600;
}
.logged-in-user-info .user-info .status {
  font-size: 0.8rem;
  opacity: 0.8;
}
.logged-in-user-info img {
  width: 65px;
  height: 65px;
  background-color: #e5e5e5;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.svg-20 {
  width: 40px;
  height: 40px;
  fill: var(--text-dark);
}

.svg-30 {
  width: 30px;
  height: 30px;
  fill: var(--text-dark);
}

.svg-20 {
  width: 20px;
  height: 20px;
  fill: var(--text-dark);
}

.svg-15 {
  width: 15px;
  height: 15px;
  fill: var(--text-dark);
}

.svg-10 {
  width: 10px;
  height: 10px;
  fill: var(--text-dark);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.3rem;
  background-color: var(--chat-background);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: rgba(241, 242, 242, 0.7058823529);
}

.profile-tile {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: var(--chat-background);
  display: flex;
  flex-direction: column;
}
.profile-tile .top-info {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile-tile .top-info .left-con .profile-username {
  font-size: 1rem;
}
.profile-tile .top-info .left-con .profile-fullname {
  font-size: 0.8rem;
  opacity: 0.7;
}
.profile-tile .top-info i {
  display: none;
  font-size: 1.3rem;
  cursor: pointer;
}
.profile-tile .profile-img-status-con {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-tile .profile-img-status-con .con {
  width: 90%;
  max-width: 200px;
  position: relative;
  height: -moz-max-content;
  height: max-content;
}
.profile-tile .profile-img-status-con .con img {
  width: 100%;
  height: 150px;
  max-width: 200px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: auto;
}
.profile-tile .profile-img-status-con .con .status {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3rem;
  border-radius: 50px;
  bottom: 0;
  right: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--faint-soft-green);
}
.profile-tile .profile-img-status-con .con .status .circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--hard-light-green);
  opacity: 0.7;
}
.profile-tile .profile-img-status-con .con .status p {
  color: white;
  font-size: 0.6rem;
  margin-left: 0.3rem;
  color: var(--hard-light-green);
}
.profile-tile .profile-img-status-con .con .status.offline {
  background-color: #f3f3f3;
}
.profile-tile .profile-img-status-con .con .status.offline p {
  opacity: 0.7;
  color: var(--text-dark);
}
.profile-tile .profile-img-status-con .con .status.offline .circle {
  background-color: var(--text-dark);
}
.profile-tile .profile-img-status-con .con .status.online {
  background-color: var(--faint-soft-green);
}
.profile-tile .profile-img-status-con .con .status.online p {
  color: var(--hard-light-green);
}
.profile-tile .profile-information {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.profile-tile .profile-information .username {
  font-size: 1.3rem;
  font-weight: 600;
}
.profile-tile .profile-information .about {
  font-size: 0.8rem;
  opacity: 0.8;
}
.profile-tile .profile-information .extras-container {
  margin-top: 10px;
}
.profile-tile .profile-information .extra {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.profile-tile .profile-information .extra i {
  font-size: 1.2rem;
  color: var(--text-dark);
}
.profile-tile .profile-information .extra .extra-info {
  margin-left: 10px;
  width: 100%;
}
.profile-tile .profile-information .extra .extra-info .extra-description {
  font-size: 0.7rem;
  font-weight: 600;
}
.profile-tile .profile-information .extra .extra-info .extra-content {
  font-size: 0.8rem;
  opacity: 0.8;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile-tile .chat-link {
  align-self: center;
  position: absolute;
  bottom: 30px;
  width: 80%;
  text-decoration: none;
}
.profile-tile .chat-link .chat-with-person {
  max-width: 600px;
  width: 100%;
  background-color: var(--main-green);
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: none;
  outline: none;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.profile-tile .chat-link .chat-with-person i {
  font-size: 1.2rem;
  color: white;
}
.profile-tile .chat-link .chat-with-person p {
  color: white;
  margin-left: 10px;
  font-weight: 500;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-container img {
  width: 25px;
  opacity: 0.6;
  height: 25px;
}
.loading-container p {
  font-size: 0.9rem;
  opacity: 0.6;
  margin-top: 10px;
}

.placeholder {
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.placeholder img {
  width: 70px;
  height: 70px;
}
.placeholder p {
  font-size: 0.9rem;
}

.btn-arr-txt {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  margin-top: 5px;
  border: 0.5px solid var(--text-dark);
  padding: 10px 20px;
  border-radius: 50px;
  width: -moz-max-content;
  width: max-content;
}
.btn-arr-txt i {
  color: var(--text-dark);
  font-size: 1rem;
}
.btn-arr-txt p {
  font-weight: 500;
  color: var(--text-dark);
  font-size: 0.9rem;
  margin-left: 10px;
}

.extra {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.extra i {
  font-size: 1.2rem;
  color: var(--text-dark);
}
.extra .extra-info {
  margin-left: 10px;
  width: 100%;
}
.extra .extra-info .extra-description {
  font-size: 0.7rem;
  font-weight: 600;
}
.extra .extra-info .extra-content {
  font-size: 0.8rem;
  opacity: 0.8;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.confirmation-modal-one {
  display: flex;
  flex-direction: column;
  padding: 25px !important;
}
.confirmation-modal-one .modal-message {
  color: var(--text-dark);
  text-align: center;
  font-size: 0.9rem;
  margin: 10px 0;
}
.confirmation-modal-one .bottom-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}
.confirmation-modal-one .bottom-actions p {
  margin: 0 10px;
  cursor: pointer;
  font-size: 0.9rem;
}
.confirmation-modal-one .bottom-actions .p-cancel {
  color: black;
}
.confirmation-modal-one .bottom-actions .p-continue {
  color: red;
}
.confirmation-modal-one .bottom-actions .p-continue.safe {
  color: green;
}

.user-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 400px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}
.user-item .con {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.user-item .con .image-container {
  width: 55px !important;
  height: 55px !important;
  background-color: #e5e5e5;
  border-radius: 50%;
}
.user-item .con .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.user-item .con .username-msg {
  margin-left: 10px;
}
.user-item .con .username-msg h5 {
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.user-item .con .username-msg .l-message {
  max-width: 260px;
  font-size: 0.65rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--soft-grey);
}
.user-item .time-num {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: center;
}
.user-item .time-num .time {
  font-size: 0.8rem;
}
.user-item .time-num .num-container {
  background-color: var(--main-green);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.user-item .time-num .num-container .num {
  color: white;
  font-size: 0.7rem;
}

.header-search-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header-search-title input[type=text] {
  padding: 15px;
  width: 90%;
  background-color: #f3f3f3;
  outline: none;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
}

.departments-container::-webkit-scrollbar {
  width: 0.3rem;
  background-color: var(--chat-background);
}

.departments-container::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: rgba(130, 138, 138, 0.7058823529);
}

.departments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  overflow-y: scroll;
}
.departments-container .department-not-found {
  display: flex;
  opacity: 0.6;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.departments-container .department-not-found i {
  font-size: 1.3rem;
  color: var(--text-dark);
}
.departments-container .department-item {
  cursor: pointer;
  margin: 3px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.departments-container .department-item .selected-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--main-green);
}
.departments-container .department-item .right {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}
.departments-container .department-item .right .office-name {
  color: #303132;
  font-weight: 500;
}
.departments-container .department-item .right .department-name {
  font-size: 0.7rem;
  color: #303132;
  opacity: 0.6;
}
.departments-container .department-item.selected {
  background-color: #f3f3f3;
}
.departments-container .department-item.selected .selected-indicator {
  background-color: var(--main-green);
}

.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-items: center;
}
.bottom-container img {
  width: 30px;
  height: 30px;
}
.bottom-container button {
  background-color: var(--main-green);
  width: 90% !important;
}

.hor-line {
  width: 90%;
  background-color: #f3f4f4;
  height: 1.7px;
}

.modal-section {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
  transition: all 0.5s ease-in-out;
}
.modal-section .modal-content {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: var(--default-modal-padding);
  border-radius: 5px;
}
.modal-section .modal-content p {
  opacity: 0.7;
}

.modal-section.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggler-btn {
  background-color: var(--main-green);
  color: white;
  display: flex;
  flex-direction: row;
  outline: none;
  border: none;
  padding: 15px !important;
  margin: 10px 0;
  align-items: center;
  width: 95%;
  max-width: 450px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
}
.toggler-btn img {
  width: 20px !important;
  height: 20px !important;
  display: none;
}

.toggler-btn:disabled {
  background-color: var(--soft-grey);
  opacity: 0.5;
  cursor: not-allowed;
}
.toggler-btn:disabled img {
  display: block;
}

.mod-form, form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}
.mod-form p, form p {
  width: 100%;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mod-form .errorlist, form .errorlist {
  width: 100%;
  list-style-type: none;
  padding: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 23px;
  max-width: 350px;
  text-align: start;
}
.mod-form .errorlist li, form .errorlist li {
  color: var(--soft-red);
  font-size: 0.85rem;
}
.mod-form label, form label {
  display: none;
}
.mod-form input, form input {
  width: 100%;
  background-color: transparent;
  padding: 0.9rem;
  border: none;
  border-bottom: 0.5px solid rgb(126, 123, 123);
  outline: none;
}
.mod-form input[type=submit], form input[type=submit] {
  background-color: var(--main-green);
  color: white;
  cursor: pointer;
}

.graphic-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.graphic-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  max-width: 220px;
  z-index: -1;
}

.hor-line {
  width: 100%;
  height: 0.5px;
  background-color: var(--text-dark);
  margin: 20px 0;
}

.flex-row-center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toast {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transform: translateY(-150%); /* Initially off-screen */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
  transition: transform 0.5s ease-in-out; /* Animation duration and easing */
  z-index: 999;
}
.toast .toast-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.9rem;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
.toast .toast-con .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toast .toast-con .left i {
  color: var(--soft-red);
  font-size: 1.5rem;
  margin-top: 2px;
}
.toast .toast-con .left p {
  font-size: 0.9rem;
  margin-left: 5px;
  color: var(--soft-red);
}
.toast .toast-con .right i {
  font-size: 1.2rem;
  color: var(--soft-grey);
  cursor: pointer;
}
.toast .progress-container {
  width: 100%;
  padding: 0;
}
.toast .progress-container progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
.toast .progress-container progress::-webkit-progress-bar {
  background-color: var(--generic-grey);
}
.toast .progress-container progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--soft-red);
}

.alert-containers {
  width: 90%;
}

.alert {
  transition: all 0.6s ease-in-out;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  background-color: var(--light-red-01);
  margin: 15px auto;
  padding: 0.9rem;
  align-items: center;
}
.alert i {
  color: var(--soft-red);
  font-size: 1.7rem;
}
.alert p {
  margin-left: 10px;
  font-size: 0.9rem;
  color: var(--soft-red);
}

.alert.error {
  background-color: var(--light-red-01);
}
.alert.error p {
  color: var(--soft-red);
}
.alert.error i {
  color: var(--soft-red);
}

.alert.warning {
  background-color: #f7f2e2;
}
.alert.warning p {
  color: #e9b254;
}
.alert.warning i {
  color: #e9b254;
}

.alert.success {
  background-color: #ecf3e4;
}
.alert.success p {
  color: #9dd367;
}
.alert.success i {
  color: #9dd367;
}

.toast.success .toast-con .left i {
  color: var(--main-green);
}
.toast.success .toast-con .left p {
  color: var(--main-green);
}
.toast.success .toast-con .right i {
  color: var(--main-green);
}
.toast.success .progress-container {
  width: 100%;
  padding: 0;
}
.toast.success .progress-container progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}
.toast.success .progress-container progress::-webkit-progress-bar {
  background-color: #ebedf0;
}
.toast.success .progress-container progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--main-green);
}

footer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .hor-line-divider {
  display: none;
  width: 100%;
  height: 0.9px;
  background-color: var(--text-dark);
  opacity: 0.6;
  margin: 20px 0;
}
footer .copyright-message {
  background-color: var(--main-green);
  padding: 30px;
  text-align: center;
}
footer .copyright-message p {
  font-size: 0.9rem;
  color: white;
}

:root {
  --body-font: "poppins", sans-serif;
  --like-black: #191D29;
  --soft-red2: #9F3418;
  --text-dark: #49566B;
  --soft-light-green: #E8F4E3;
  --chat-background:#FBFBFB;
  --faint-soft-green: #EBF5EA;
  --hard-light-green: #6BBC50;
  --memo-background: #F9F9F9;
  --progress-empty: #E2F0DE;
  --txt-darker: #3C3C3C;
  --soft-red: #EC6249;
  --soft-grey: #8A9099;
  --generic-grey: #f4f4f3;
  --light-red-01: #F2E4DF;
  --main-green: #355E2D;
  --section-edge-padding: 100px;
  --menu-size: 1.7rem;
}

html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.profile-tile {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: var(--chat-background);
  display: flex;
  flex-direction: column;
}
.profile-tile .top-info {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile-tile .top-info .left-con .profile-username {
  font-size: 1rem;
}
.profile-tile .top-info .left-con .profile-fullname {
  font-size: 0.8rem;
  opacity: 0.7;
}
.profile-tile .top-info i {
  display: none;
  font-size: 1.3rem;
  cursor: pointer;
}
.profile-tile .profile-img-status-con {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-tile .profile-img-status-con .con {
  width: 90%;
  max-width: 200px;
  position: relative;
  height: -moz-max-content;
  height: max-content;
}
.profile-tile .profile-img-status-con .con img {
  width: 100%;
  height: 150px;
  max-width: 200px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: auto;
}
.profile-tile .profile-img-status-con .con .status {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3rem;
  border-radius: 50px;
  bottom: 0;
  right: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--faint-soft-green);
}
.profile-tile .profile-img-status-con .con .status .circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--hard-light-green);
  opacity: 0.7;
}
.profile-tile .profile-img-status-con .con .status p {
  color: white;
  font-size: 0.6rem;
  margin-left: 0.3rem;
  color: var(--hard-light-green);
}
.profile-tile .profile-img-status-con .con .status.offline {
  background-color: #f3f3f3;
}
.profile-tile .profile-img-status-con .con .status.offline p {
  opacity: 0.7;
  color: var(--text-dark);
}
.profile-tile .profile-img-status-con .con .status.offline .circle {
  background-color: var(--text-dark);
}
.profile-tile .profile-img-status-con .con .status.online {
  background-color: var(--faint-soft-green);
}
.profile-tile .profile-img-status-con .con .status.online p {
  color: var(--hard-light-green);
}
.profile-tile .profile-information {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.profile-tile .profile-information .username {
  font-size: 1.3rem;
  font-weight: 600;
}
.profile-tile .profile-information .about {
  font-size: 0.8rem;
  opacity: 0.8;
}
.profile-tile .profile-information .extras-container {
  margin-top: 10px;
}
.profile-tile .profile-information .extra {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.profile-tile .profile-information .extra i {
  font-size: 1.2rem;
  color: var(--text-dark);
}
.profile-tile .profile-information .extra .extra-info {
  margin-left: 10px;
  width: 100%;
}
.profile-tile .profile-information .extra .extra-info .extra-description {
  font-size: 0.7rem;
  font-weight: 600;
}
.profile-tile .profile-information .extra .extra-info .extra-content {
  font-size: 0.8rem;
  opacity: 0.8;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile-tile .chat-link {
  align-self: center;
  position: absolute;
  bottom: 30px;
  width: 80%;
  text-decoration: none;
}
.profile-tile .chat-link .chat-with-person {
  max-width: 600px;
  width: 100%;
  background-color: var(--main-green);
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: none;
  outline: none;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.profile-tile .chat-link .chat-with-person i {
  font-size: 1.2rem;
  color: white;
}
.profile-tile .chat-link .chat-with-person p {
  color: white;
  margin-left: 10px;
  font-weight: 500;
}

header {
  width: 100%;
  border-bottom: 0.5px solid var(--like-black);
}
header .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px var(--section-edge-padding);
}
header .container .mobile {
  display: none;
}
header .container .mobile i {
  font-size: var(--menu-size);
}
header .container .el-one {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .container .el-one img {
  width: 40px;
  height: 40px;
}
header .container .el-one p {
  font-size: 1.2rem;
  font-weight: 600;
}
header .container .el-two {
  width: 100%;
  max-width: 350px;
}
header .container .el-two ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
header .container .el-two ul li {
  list-style-type: none;
}
header .container .el-two ul li a {
  text-decoration: none;
  color: var(--like-black);
}
header .container .el-two .close-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  display: none;
}
header .container .el-two .close-nav i {
  font-size: var(--menu-size);
}
header .container .el-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
header .container .el-three .user-auth {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
header .container .el-three .user-auth svg {
  width: 20px;
  height: 20px;
  fill: var(--text-dark);
}
header .container .el-three .user-auth p {
  margin-left: 5px;
  font-weight: 500;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
header .container .el-three .signin {
  background-color: white;
  color: var(--like-black);
  font-weight: 500;
}
header .container .el-three .register {
  background-color: var(--text-dark);
  color: white;
  border-radius: 30px;
}
header .container .el-three button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  outline: none;
}
header .container .el-three.phone {
  display: none;
  margin: 20px 0;
}

.hero-section {
  width: 100%;
}
.hero-section .container {
  height: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero-section .left-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero-section .left-content .top-showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}
.hero-section .left-content .top-showcase i {
  color: rgb(253, 168, 56);
}
.hero-section .left-content .top-showcase p {
  color: var(--soft-grey);
}
.hero-section .left-content .welcome-txt {
  font-size: 1rem;
  margin-top: 6px;
}
.hero-section .left-content .main-text {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
}
.hero-section .left-content .buttons-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.hero-section .left-content .buttons-container .btn-get-started {
  background-color: var(--main-green);
  color: white;
}
.hero-section .left-content .buttons-container button {
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
}
.hero-section .right-content {
  width: 50%;
}
.hero-section .right-content .image-container {
  width: 100%;
  max-width: 350px;
  height: 450px;
  margin-left: 100px;
}
.hero-section .right-content .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}

.why-use-digital-network .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  margin: 100px auto;
}
.why-use-digital-network .container h1 {
  font-family: "Poppins", sans-serif;
}
.why-use-digital-network .container .left-content {
  padding: 10px;
}
.why-use-digital-network .container .left-content h1 {
  color: var(--text-dark);
}
.why-use-digital-network .container .right-content {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  justify-items: end;
}
.why-use-digital-network .container .right-content .reason-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.why-use-digital-network .container .right-content .reason-card .reason-image {
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  border-radius: 5px;
}
.why-use-digital-network .container .right-content .reason-card .text-container {
  margin-top: 10px;
}
.why-use-digital-network .container .right-content .reason-card .text-container .card-title {
  max-width: 300px;
}
.why-use-digital-network .container .right-content .reason-card .text-container .card-des {
  max-width: 300px;
  font-size: 0.9rem;
  color: var(--soft-grey);
  margin-top: 5px;
}

.confirmotp-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.confirmotp-section img {
  width: 80%;
  max-width: 400px;
}
.confirmotp-section div.right-section {
  width: 90%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirmotp-section div.right-section .alert {
  margin: 15px 0;
}
.confirmotp-section div.right-section .prompt-message {
  font-size: 0.9rem;
  opacity: 0.8;
  max-width: 400px;
}
.confirmotp-section div.right-section .resend-prompt {
  text-align: center;
  margin-top: 17px;
  font-size: 0.9rem;
}
.confirmotp-section div.right-section form {
  width: 100%;
  max-width: 300px;
  align-items: flex-start;
}
.confirmotp-section div.right-section form input[type=text] {
  text-align: center;
}
.confirmotp-section div.right-section form input[type=submit] {
  margin-top: 20px;
  border-radius: 5px;
}

.selectdept-container {
  margin: auto;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  min-height: 90vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 1000;
}
.selectdept-container .header-search-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.selectdept-container .header-search-title input[type=text] {
  padding: 15px;
  width: 90%;
  background-color: #f3f3f3;
  outline: none;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
}
.selectdept-container .departments-container::-webkit-scrollbar {
  width: 0.3rem;
  background-color: var(--chat-background);
}
.selectdept-container .departments-container::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: rgba(130, 138, 138, 0.7058823529);
}
.selectdept-container .departments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  overflow-y: scroll;
}
.selectdept-container .departments-container .department-not-found {
  display: flex;
  opacity: 0.6;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.selectdept-container .departments-container .department-not-found i {
  font-size: 1.3rem;
  color: var(--text-dark);
}
.selectdept-container .departments-container .department-item {
  cursor: pointer;
  margin: 3px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.selectdept-container .departments-container .department-item .selected-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--main-green);
}
.selectdept-container .departments-container .department-item .right {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}
.selectdept-container .departments-container .department-item .right .office-name {
  color: #303132;
  font-weight: 500;
}
.selectdept-container .departments-container .department-item .right .department-name {
  font-size: 0.7rem;
  color: #303132;
  opacity: 0.6;
}
.selectdept-container .departments-container .department-item.selected {
  background-color: #f3f3f3;
}
.selectdept-container .departments-container .department-item.selected .selected-indicator {
  background-color: var(--main-green);
}
.selectdept-container .bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-items: center;
}
.selectdept-container .bottom-container img {
  width: 30px;
  height: 30px;
}
.selectdept-container .bottom-container .continue-btn {
  background-color: var(--main-green);
  padding: 15px 20px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.selectdept-container .bottom-container .continue-btn img {
  width: 20px;
  height: 20px;
}
.selectdept-container .bottom-container .continue-btn:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.selectdept-container .hor-line {
  width: 90%;
  background-color: #f3f4f4;
  height: 1.7px;
}

.people-you-may-know-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.people-you-may-know-section .left-content {
  width: 40%;
  height: 100vh;
  position: relative;
}
.people-you-may-know-section .left-content .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.people-you-may-know-section .left-content .overlay .build-network {
  padding: 20px;
}
.people-you-may-know-section .left-content .overlay .build-network h1 {
  color: white;
  font-size: 2.4rem;
}
.people-you-may-know-section .left-content .overlay .build-network p {
  max-width: 80%;
  color: rgb(243, 240, 240);
  font-size: 1.1rem;
}
.people-you-may-know-section .left-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.people-you-may-know-section .right-content {
  width: 60%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--chat-background);
  align-items: center;
  justify-content: center;
  position: relative;
}
.people-you-may-know-section .right-content .p-1 {
  font-weight: 500;
}
.people-you-may-know-section .right-content .p-2 {
  font-size: 0.7rem;
  opacity: 0.6;
}
.people-you-may-know-section .right-content .users-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.people-you-may-know-section .right-content .see-all-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.people-you-may-know-section .right-content .see-all-prompt .p-th {
  font-size: 0.6rem;
  opacity: 0.7;
}
.people-you-may-know-section .right-content .see-all-prompt .btn-arr-txt {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
  align-items: center;
  margin-top: 5px;
  border: 0.5px solid var(--text-dark);
  padding: 10px 20px;
  border-radius: 50px;
}
.people-you-may-know-section .right-content .see-all-prompt .btn-arr-txt i {
  color: var(--text-dark);
  font-size: 1rem;
}
.people-you-may-know-section .right-content .see-all-prompt .btn-arr-txt p {
  font-weight: 500;
  color: var(--text-dark);
  font-size: 0.9rem;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  opacity: 0.4;
  position: absolute;
  z-index: 4;
  background-color: black;
  display: none;
}

.modal-overlay.visible {
  display: block;
}

@media screen and (max-width: 1000px) {
  header .container {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 900px) {
  header .container {
    padding: 20px 30px;
  }
  header .container .el-two {
    top: -300px;
    left: 0;
    background-color: white;
    position: fixed;
    z-index: 999;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in-out;
  }
  header .container .el-two ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
  }
  header .container .el-two.visible {
    top: 0;
  }
  header .container .el-two.visible .close-nav {
    display: block;
  }
  header .container .mobile {
    display: block;
  }
}
@media screen and (max-width: 490px) {
  header .container .el-three.desktop {
    display: none;
  }
  header .container .el-three.phone {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .hero-section .left-content .main-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 770px) {
  .hero-section .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .hero-section .container .left-content {
    width: 100%;
    margin-top: 30px;
  }
  .hero-section .container .right-content {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .hero-section {
    padding: 0 30px;
  }
  .break-section {
    padding: 0 30px;
  }
}
@media screen and (max-width: 330px) {
  .hero-section {
    padding: 0 20px;
  }
  .break-section {
    padding: 0 20px;
  }
}
@media screen and (max-width: 330px) {
  .hero-section {
    padding: 0 10px;
  }
  .break-section {
    padding: 0 10px;
  }
}
@media screen and (max-width: 800px) {
  .why-use-digital-network .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 460px) {
  .why-use-digital-network .container .right-content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 1270px) {
  .chat-section .left-most-tile {
    width: 20%;
  }
  .chat-section .center-tile {
    width: 60%;
  }
  .chat-section .right-most-tile {
    width: 20%;
  }
}
@media screen and (max-width: 975px) {
  .chat-section {
    padding: 10px;
  }
  .chat-section .left-most-tile {
    z-index: 9;
    position: fixed;
    left: -400px;
    width: 90%;
    max-width: 300px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    border-right: none;
  }
  .chat-section .left-most-tile .logo-showcase .mobile-close-left-most {
    display: block;
  }
  .chat-section .left-most-tile.visible {
    left: 0;
  }
  .chat-section .center-tile {
    width: 100%;
  }
  .chat-section .center-tile .center-item-top {
    padding: 10px;
  }
  .chat-section .center-tile .center-item-top .top-left .leftmost-mobile {
    display: block;
  }
  .chat-section .right-most-tile {
    display: none;
    width: 20%;
  }
}
@media screen and (max-width: 590px) {
  .chat-section .center-tile .center-item-bottom {
    padding: 0px 0px 10px 10px;
  }
  .chat-section .center-tile .center-item-bottom .center-left {
    display: none;
    position: absolute;
    z-index: 99999;
    min-height: 100vh;
    top: 0;
    left: 0;
    padding-top: 30px;
    width: 100%;
  }
  .chat-section .center-tile .center-item-bottom .center-left.visible {
    display: flex;
  }
}
@media screen and (max-width: 470px) {
  .chat-section .center-tile .center-item-top .user-container .user-info-con {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .confirmotp-section {
    flex-direction: column;
  }
  .confirmotp-section img {
    max-width: 300px;
  }
}
@media screen and (max-width: 865px) {
  .profile-tile .top-info i {
    display: block;
  }
  .list-all-section .middle-content {
    width: 90%;
  }
  .list-all-section .right-profile-content {
    display: none;
  }
  .list-all-section .right-profile-content.visible {
    z-index: 10;
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: absolute;
  }
  .list-all-section .right-profile-content.visible .placeholder {
    display: none;
  }
  .list-all-section .right-profile-content.visible .loading-container {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .list-all-section .left-nav .user-image-container img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  .list-all-section {
    flex-direction: column-reverse;
  }
  .list-all-section .left-nav {
    width: 100%;
    min-height: auto;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    padding: 5px 0;
    z-index: 9;
    background-color: white;
  }
  .list-all-section .left-nav .logo-img {
    display: none;
    margin-top: 0;
  }
  .list-all-section .left-nav .options-select-container {
    margin-left: 5px;
    margin-top: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .list-all-section .left-nav .user-image-container {
    position: relative;
    margin-bottom: 0;
  }
  .list-all-section .middle-content {
    width: 100%;
    padding: 20px 10px;
  }
  .list-all-section .middle-content .user-cards-container {
    justify-items: center;
    margin-bottom: 50px;
  }
  .list-all-section .middle-content .user-cards-container .user-card {
    max-width: 300px;
  }
  .list-all-section .middle-content.department {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .people-you-may-know-section {
    flex-direction: column;
  }
  .people-you-may-know-section .left-content {
    width: 100%;
    height: 0;
    min-height: 70vh;
  }
  .people-you-may-know-section .right-content {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .user-item .con .username-msg h5 {
    max-width: 190px;
  }
  .user-item .con .username-msg .l-message {
    max-width: 190px;
  }
}
@media screen and (max-width: 1240px) {
  .edit-profile-section {
    padding: 50px 150px;
  }
}
@media screen and (max-width: 1111px) {
  .edit-profile-section {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 1000px) {
  .edit-profile-section {
    padding: 50px;
  }
}
@media screen and (max-width: 890px) {
  .edit-profile-section {
    padding: 50px 20px;
    align-items: center;
    justify-content: center;
  }
  .edit-profile-section .bottom {
    flex-direction: column;
  }
  .edit-profile-section .bottom .b-right {
    margin-top: 20px;
  }
}
@media screen and (max-width: 430px) {
  .edit-profile-section .bottom .b-left {
    width: 100%;
  }
  .edit-profile-section .bottom .b-left .account-information-container {
    width: 100%;
  }
  .edit-profile-section .bottom .b-left .account-information-container form {
    width: 100%;
  }
  .edit-profile-section .bottom .b-right .why-container .why-background {
    height: 300px;
  }
  .edit-profile-section .bottom .b-right .why-container .why-text-image img {
    width: 120px;
  }
  .edit-profile-section .bottom .b-right .why-container .why-text-image .why-text .txt-desc {
    line-height: 1.4;
  }
  .edit-profile-section .bottom .width-controller {
    width: 98%;
  }
}
@media screen and (max-width: 500px) {
  .view-profile-section .container {
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */