{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      NNRA chat room | Interactive Live chat room, nnra digital network
    </title>
    <link rel="stylesheet" href="{% static 'style/css/chatroom.css' %}" />

    <!--=============== REMIX ICONS ===============-->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/logo.png' %}"
    />
  </head>
  <body>
    <section class="chat-section">
      <div class="left-most-tile">
        <div class="logo-showcase">
          <div class="left">
            <img src="{% static 'img/transp-logo.png' %}" alt="NNRA logo" />
            <h4>
              NNRA <br />
              Digital network
            </h4>
          </div>
          <div class="mobile-close-left-most" onclick="toggleLeftMostTile()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path d="M3 4H21V6H3V4ZM9 11H21V13H9V11ZM3 18H21V20H3V18Z"></path>
            </svg>
          </div>
        </div>

        <div class="all-chats-groups">
          <div class="all-chats left-panel-toggler selected" id="tog-da9303">
            <div class="left-all">
              <svg
                class="svg-20"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M14 22.5L11.2 19H6C5.44772 19 5 18.5523 5 18V7.10256C5 6.55028 5.44772 6.10256 6 6.10256H22C22.5523 6.10256 23 6.55028 23 7.10256V18C23 18.5523 22.5523 19 22 19H16.8L14 22.5ZM15.8387 17H21V8.10256H7V17H11.2H12.1613L14 19.2984L15.8387 17ZM2 2H19V4H3V15H1V3C1 2.44772 1.44772 2 2 2Z"
                ></path>
              </svg>
              <p>All chats</p>
            </div>

            <p class="num-all-chats">{{unseen_thread_count}}</p>
          </div>

          <!-- <div class="all-groups">
          <div class="left-all">
            <i class="ri-group-line"></i>
            <p>Groups</p>
          </div>
  
          <p class="num-group-messages">9</p>
        </div> -->
        </div>

        <div class="hor-line"></div>

        <div class="people-container">
          <div class="top-holder">
            <h4>People</h4>

            <a href="{% url 'accounts:listitems' %}"><p>SEE ALL</p></a>
          </div>
          <div class="image-caret-container">
            <div class="people-images-container">
              {% for person in people_may_know %}
              <a
                href="{% url 'accounts:viewprofile' uid=person.user.id %}"
                style="text-decoration: none"
                target="_blank"
              >
                <img
                  src="{{person.profileImg.url}}"
                  alt=""
                  style="background-color: #acacad"
                  title="{{person.user.username}}"
                />
              </a>

              {% endfor %}
            </div>

            <!-- <i class="ri-arrow-right-s-line"></i> -->
          </div>
        </div>

        <div class="hor-line"></div>

        <div class="departments-container" style="align-items: flex-start">
          <div class="top-holder">
            <i class="ri-arrow-down-s-line"></i>
            <p style="font-weight: 500">Your network</p>
          </div>

          <div class="all-departments custom-scrollbar">
            <!-- <div class="department selected">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="svg-15"><path d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19Z"></path></svg>            
            <p class="department-name">ICT</p>
          </div> -->
          </div>

          <div class="browse-all-depts">
            <div class="search-con">
              <i class="ri-search-line"></i>
            </div>
            <p>Browse all departments</p>
          </div>
        </div>
      </div>

      <div class="center-tile">
        <div class="center-item-top">
          <div class="top-left">
            <div class="leftmost-mobile" onclick="toggleLeftMostTile()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M3 4H21V6H3V4ZM3 11H15V13H3V11ZM3 18H21V20H3V18Z"
                ></path>
              </svg>
            </div>
            <h1>Chat</h1>
          </div>

          <div class="top-right">
            <!-- <i class="ri-chat-new-line"></i> -->
            <i class="ri-moon-line"></i>

            <div class="notification-con">
              <i class="ri-notification-3-line"></i>
              <div
                class="noti-alert {% if unseen_thread_count >= 1 %}visible{% endif %}"
              ></div>
            </div>

            <div class="user-container">
              <img
                src="{{profile.profileImg.url}}"
                alt=""
                style="background-color: #e0dcd1"
              />
              <div class="user-info-con">
                <input
                  type="hidden"
                  name="profileimg"
                  value="{{profile.profileImg.url}}"
                  id="profileimginput"
                />
                <input
                  type="hidden"
                  name="userid"
                  value="{{profile.user.id}}"
                  id="inputuserid"
                />
                <h5 class="username">{{profile.user.username}}</h5>
                <p class="fullname">{{profile.user.get_full_name}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="center-item-bottom">
          <div class="center-item center-left">
            <div class="search-section">
              <div class="search-bar">
                <div class="short-line"></div>
                <input type="text" placeholder="Search" />
                <i class="ri-search-line"></i>
              </div>
            </div>

            <div class="chat-tiles-container" id="chat-tiles-container">
              <!-- <div class="chat-item selected">
  
              <div class="con">
                <div class="image-container">
                  <img
                    src="{% static 'img/samples/s1.jpg' %}"
                    alt=""
                    style="background-color: #acacad"
                  />
                </div>
  
                <div class="username-msg">
                  <h5>Faith aom</h5>
                  <p class="l-message">What is going on in Jos</p>
                </div>
              </div>
  
              <div class="time-num">
                <p class="time">1 min</p>
                <div class="num-container">
                  <p class="num">3</p>
                </div>
              </div>
            </div> -->

              <div class="threads-container custom-scrollbar threads"></div>

              <div
                class="loading-container loading"
                style="margin-top: 40px; display: none"
              >
                <img src="{% static 'img/spinner.gif' %}" alt="" />
                <p>Loading threads..</p>
              </div>
            </div>
          </div>

          <div class="center-item center-right" id="center-right">
            <div class="focused" style="display: none">
              <div class="logged-in-user-info">
                <img
                  src="{{chat_user.profileImg.url}}"
                  alt=""
                  style="background-color: #acacad"
                  class="focus-user-img"
                />
                <div class="user-info">
                  <p class="username focus-username">
                    {{chat_user.user.username}}
                  </p>
                  <p class="status focus-presence">Offline</p>
                </div>
              </div>

              <div class="conversation-container">
                <div class="day-con">
                  <span class="hor-line"></span>
                  <p class="day">Friday</p>
                  <span class="hor-line"></span>
                </div>

                <div class="conversation conv-left">
                  <img
                    src="{% static 'img/samples/s1.jpg' %}"
                    alt=""
                    style="background-color: #acacad"
                    class="u-profile-photo"
                  />
                  <div class="conv-holder">
                    <p class="message">
                      Be like the person wey give me the work wan fall my hand
                      and I don't want the effort I've put into it to waste
                    </p>

                    <p class="date-time">10:00pm</p>
                  </div>
                </div>

                <div class="conversation conv-right">
                  <img
                    src="{% static 'img/samples/s4.jpg' %}"
                    alt=""
                    style="background-color: #acacad"
                    class="u-profile-photo"
                  />
                  <div class="conv-holder">
                    <p class="message">
                      Hi this is the message i want to send so that it can be
                      the thing you see
                    </p>

                    <p class="date-time">
                      10:00pm <span class="msg-status">~ seen</span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="inputs-container">
                <form action="" id="chat-form">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="attachment-icon"
                  >
                    <path
                      d="M14.8287 7.75737L9.1718 13.4142C8.78127 13.8047 8.78127 14.4379 9.1718 14.8284C9.56232 15.219 10.1955 15.219 10.586 14.8284L16.2429 9.17158C17.4144 8.00001 17.4144 6.10052 16.2429 4.92894C15.0713 3.75737 13.1718 3.75737 12.0002 4.92894L6.34337 10.5858C4.39075 12.5384 4.39075 15.7042 6.34337 17.6569C8.29599 19.6095 11.4618 19.6095 13.4144 17.6569L19.0713 12L20.4855 13.4142L14.8287 19.0711C12.095 21.8047 7.66283 21.8047 4.92916 19.0711C2.19549 16.3374 2.19549 11.9053 4.92916 9.17158L10.586 3.51473C12.5386 1.56211 15.7045 1.56211 17.6571 3.51473C19.6097 5.46735 19.6097 8.63317 17.6571 10.5858L12.0002 16.2427C10.8287 17.4142 8.92916 17.4142 7.75759 16.2427C6.58601 15.0711 6.58601 13.1716 7.75759 12L13.4144 6.34316L14.8287 7.75737Z"
                    ></path>
                  </svg>

                  <textarea
                    name="chatmessage"
                    id="chat-message-input"
                    placeholder="Write your message"
                    class="chatmessage"
                    oninput="autoResize(this)"
                  ></textarea>
                  <button class="send-container" type="submit">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="send-icon"
                    >
                      <path
                        d="M1.94607 9.31543C1.42353 9.14125 1.4194 8.86022 1.95682 8.68108L21.043 2.31901C21.5715 2.14285 21.8746 2.43866 21.7265 2.95694L16.2733 22.0432C16.1223 22.5716 15.8177 22.59 15.5944 22.0876L11.9999 14L17.9999 6.00005L9.99992 12L1.94607 9.31543Z"
                      ></path>
                    </svg>
                  </button>
                </form>
              </div>
            </div>

            <div class="idle-con">
              <!-- <img src="{% static 'img/transp-logo.png' %}" alt="Nigerian Nuclear Regulatory Authority" class="idle-img"> -->
              <p class="title-text">NNRA digital network</p>
              <p class="moto-txt">Unified Vision, Collective Strength</p>
            </div>
          </div>
        </div>
      </div>

      <div class="right-most-tile profile-tile" id="right-profile-tile">
        <div class="profile-container profile" style="display: none">
          <div class="top-info">
            <div class="left-con">
              <h4 class="profile-username">Python Geek</h4>
              <p class="profile-fullname">Onuh Kyrian Udochukwu</p>
            </div>

            <i class="ri-close-line"></i>
          </div>

          <div class="profile-img-status-con">
            <div class="con">
              <img
                src="{% static 'img/samples/s1.jpg' %}"
                alt=""
                style="background-color: #acacad"
              />
              <div class="status">
                <div class="circle"></div>
                <p>Active</p>
              </div>
            </div>
          </div>

          <div class="profile-information">
            <p class="username">Python Geek</p>
            <p class="about">
              Web developer with passion for json, I love airplanes, bees and
              books. I am eager to receive improved responsibilites and workload
            </p>

            <div class="extras-container">
              <div class="extra">
                <i class="ri-mail-fill"></i>
                <div class="extra-info">
                  <p class="extra-description">Email Address</p>
                  <p class="extra-content">beescript@outlook.com</p>
                </div>
              </div>

              <div class="extra">
                <i class="ri-phone-fill"></i>
                <div class="extra-info">
                  <p class="extra-description">Phone</p>
                  <p class="extra-content">08143015512</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <button class="chat-with-person">
            <i class="ri-message-2-line"></i>
            <p>Message</p>
        </button> -->
        </div>

        <div class="loading-container loading" style="display: none">
          <img src="{% static 'img/spinner.gif' %}" alt="" />
          <p>Fetching profile..</p>
        </div>

        <div class="placeholder idle">
          <img
            src="{% static 'img/transp-logo.png' %}"
            alt="Nigerian Nuclear Regulatory Authority"
          />
          <p>NNRA digital network</p>
        </div>
      </div>
    </section>

    <div class="modal-overlay"></div>

    <script>
      function autoResize(textarea) {
        if (!(textarea.scrollHeight > 150)) {
          textarea.style.height = "auto";
          textarea.style.height = textarea.scrollHeight + "px";
        }
      }
    </script>

    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/components.js' %}"></script>
    <script src="{% static 'js/chatroom.js' %}"></script>
  </body>
</html>
