//contains default styles for the project
@import 'config/config';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:var(--body-font) ;
}

.section{
    padding: 0 var(--section-edge-padding);
}

h1,h2,h3,h4,h5,h6,p{
    color: var(--like-black);
}


.toast{
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    transform: translateY(-150%); /* Initially off-screen */
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
    transition: transform 0.5s ease-in-out; /* Animation duration and easing */


    .toast-con{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.9rem;
        padding-right: 0.9rem;
        padding-left: 0.9rem;
        .left{
            display: flex;
            flex-direction: row;
            align-items: center;

            i{
                color: var(--soft-red);
                font-size: 1.5rem;
                margin-top: 2px;
            }

            p{
                font-size: 0.9rem;
                margin-left: 5px;
                color: var(--soft-red);
            }
        }

        .right{
            i{
                font-size: 1.2rem;
                color: var(--soft-grey);
                cursor: pointer;
            }

        }
    }
    .progress-container{
        width: 100%;
        padding: 0;

        progress {
            border-radius: 7px; 
            width: 100%;
            height: 5px;
          }
          progress::-webkit-progress-bar {
            background-color: var(--generic-grey);
          }
          progress::-webkit-progress-value {
            border-radius: 7px;
            background-color: var(--soft-red);
          }
        
    }


}

.alert-containers{
    width: 90%;
}

.alert{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    background-color: var(--light-red-01);
    margin: 15px auto;
    padding: 0.9rem;
    align-items: center;

    i{
        color: var(--soft-red);
        font-size: 1.7rem;
    }

    p{
        margin-left: 10px;
        color: var(--soft-red);
    }
}

.alert.error{
    background-color: var(--light-red-01);
    p{
        color: var(--soft-red);
    }

    i{
        color: var(--soft-red);
    }
}

.alert.warning{
    background-color: #F7F2E2;
    p{
        color: #E9B254;
    }

    i{
        color: #E9B254;
    }

}

.alert.success{
    background-color: #ECF3E4;
    p{
        color: #9DD367;
    }
    i{
        color: #9DD367;
    }

}

.toast.success{
    .toast-con{
       
        .left{
          
            i{
                color: var(--main-green);
            }

            p{
                color: var(--main-green);
            }
        }

        .right{
            i{
                color: var(--main-green);
            }

        }
    }
    .progress-container{
        width: 100%;
        padding: 0;

        progress {
            border-radius: 7px; 
            width: 100%;
            height: 5px;
          }
          progress::-webkit-progress-bar {
            background-color: #ebedf0;
          }
          progress::-webkit-progress-value {
            border-radius: 7px;
            background-color: var(--main-green);
          }
        
    }


}