//HEADER MEDIA QUERIES
@media screen and (max-width: 1000px) {
  header {
    .container {
      padding: 20px 60px;
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    .container {
      // .el-three{
      //     display: none;
      // }
      padding: 20px 30px;

      .el-two {
        top: -300px;
        left: 0;
        background-color: white;
        position: fixed;
        z-index: 999;

        max-width: 100%;
        width: 100%;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        transition: all 0.5s ease-in-out;

        ul {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px 0;
          gap: 20px;
        }
      }

      .el-two.visible {
        top: 0;

        .close-nav {
          display: block;
        }
      }
      .mobile {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 490px) {
  header {
    .container {
      .el-three {
        display: none;
      }
    }
  }
}

//=========================================================

//HERO SECTION MEDIA QUERY
@media screen and (max-width: 1100px) {
  .hero-section {
    .left-content {
      .main-text {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .hero-section {
    .container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      .left-content {
        width: 100%;
        margin-top: 30px;
      }

      .right-content {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .hero-section {
    padding: 0 30px;
  }

  .break-section {
    padding: 0 30px;
  }
}

@media screen and (max-width: 330px) {
  .hero-section {
    padding: 0 20px;
  }

  .break-section {
    padding: 0 20px;
  }
}

@media screen and (max-width: 330px) {
  .hero-section {
    padding: 0 10px;
  }

  .break-section {
    padding: 0 10px;
  }
}

//===========================================================
//why use digital network section queries

@media screen and (max-width: 800px) {
  .why-use-digital-network {
    .container {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 460px) {
  .why-use-digital-network {
    .container {
      .right-content {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
  }
}

//==================================================
//CHAT ROOM MEDIA QUERIES

//make left-most and right most widths smaller
@media screen and (max-width: 1270px) {
  .chat-section {
    .left-most-tile {
      width: 20%;
    }

    .center-tile {
      width: 60%;
    }

    .right-most-tile {
      width: 20%;
    }
  }
}

//remove left-most and right most (first mobile breakpoint)
@media screen and (max-width: 975px) {
  .chat-section {
    padding: 10px;
    .left-most-tile {
      // display: none;
      z-index: 9;
      position: fixed;
      left: -400px;
      width: 90%;
      max-width: 300px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    border-right: none;

    .logo-showcase{
        .mobile-close-left-most{
            display: block;
        }
    }
       
    }

    .left-most-tile.visible{
        left: 0;
    }

    .center-tile {
      width: 100%;
      .center-item-top {
        padding: 10px;

        .top-left {
          .leftmost-mobile {
            display: block;
          }
        }
      }
    }

    .right-most-tile {
      display: none;
      width: 20%;
    }
  }
}

//remove chat-tiles-container
@media screen and (max-width: 590px) {
  .chat-section {
    .center-tile {
      .center-item-bottom {
        padding: 0px 0px 10px 10px;
        .center-left {
          display: none;
        }
      }
    }
  }
}

//remove user name and full name in topright profile details
@media screen and (max-width: 470px) {
  .chat-section {
    .center-tile {
      .center-item-top {
        .user-container {
          .user-info-con {
            display: none;
          }
        }
      }
    }
  }
}
