//HEADER MEDIA QUERIES
@media screen and (max-width: 1000px) {
  header {
    .container {
      padding: 20px 60px;
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    .container {
      // .el-three{
      //     display: none;
      // }
      padding: 20px 30px;

      .el-two {
        top: -300px;
        left: 0;
        background-color: white;
        position: fixed;
        z-index: 999;

        max-width: 100%;
        width: 100%;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        transition: all 0.5s ease-in-out;

        ul {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px 0;
          gap: 20px;
        }
      }

      .el-two.visible {
        top: 0;

        .close-nav {
          display: block;
        }
      }
      .mobile {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 490px) {
  header {
    .container {
      .el-three.desktop {
        display: none;
      }
      .el-three.phone {
        display: block;
      }
    }
  }
}

//=========================================================

//HERO SECTION MEDIA QUERY
@media screen and (max-width: 1100px) {
  .hero-section {
    .left-content {
      .main-text {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .hero-section {
    .container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      .left-content {
        width: 100%;
        margin-top: 30px;
      }

      .right-content {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .hero-section {
    padding: 0 30px;
  }

  .break-section {
    padding: 0 30px;
  }
}

@media screen and (max-width: 330px) {
  .hero-section {
    padding: 0 20px;
  }

  .break-section {
    padding: 0 20px;
  }
}

@media screen and (max-width: 330px) {
  .hero-section {
    padding: 0 10px;
  }

  .break-section {
    padding: 0 10px;
  }
}

//===========================================================
//why use digital network section queries

@media screen and (max-width: 800px) {
  .why-use-digital-network {
    .container {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 460px) {
  .why-use-digital-network {
    .container {
      .right-content {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
  }
}

//==================================================
//CHAT ROOM MEDIA QUERIES

//make left-most and right most widths smaller
@media screen and (max-width: 1270px) {
  .chat-section {
    .left-most-tile {
      width: 20%;
    }

    .center-tile {
      width: 60%;
    }

    .right-most-tile {
      width: 20%;
    }
  }
}

//remove left-most and right most (first mobile breakpoint)
@media screen and (max-width: 975px) {
  .chat-section {
    padding: 10px;
    .left-most-tile {
      // display: none;
      z-index: 9;
      position: fixed;
      left: -400px;
      width: 90%;
      max-width: 300px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      border-right: none;

      .logo-showcase {
        .mobile-close-left-most {
          display: block;
        }
      }
    }

    .left-most-tile.visible {
      left: 0;
    }

    .center-tile {
      width: 100%;
      .center-item-top {
        padding: 10px;

        .top-left {
          .leftmost-mobile {
            display: block;
          }
        }
      }
    }

    .right-most-tile {
      display: none;
      width: 20%;
    }
  }
}

//remove chat-tiles-container
@media screen and (max-width: 590px) {
  .chat-section {
    .center-tile {
      .center-item-bottom {
        // position: relative;
        padding: 0px 0px 10px 10px;
        .center-left {
          display: none;
          position: absolute;
          z-index: 99999;
          min-height: 100vh;
          top: 0;
          left: 0;
          padding-top: 30px;
          width: 100%;
        
        }

        .center-left.visible{
          display: flex;
        }
      }
    }
  }
}

//remove user name and full name in topright profile details
@media screen and (max-width: 470px) {
  .chat-section {
    .center-tile {
      .center-item-top {
        .user-container {
          .user-info-con {
            display: none;
          }
        }
      }
    }
  }
}

//============================= CONFIRM OTP MEDIA QUERIES ==============================
@media screen and (max-width: 700px) {
  .confirmotp-section {
    flex-direction: column;

    img {
      max-width: 300px;
    }
  }
}

//============================ PEOPLE LIST MEDIA QUERY ================================

@media screen and (max-width: 865px) {
  .profile-tile {
    .top-info {
      i {
        display: block;
      }
    }
  }

  .list-all-section {
    .middle-content {
      width: 90%;
    }

    .right-profile-content {
      display: none;
    }
    .right-profile-content.visible {
      z-index: 10;
      display: flex;
      width: 100%;
      min-height: 100vh;
      position: absolute;

      .placeholder {
        display: none;
      }

      .loading-container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .list-all-section {
    .left-nav {
      .user-image-container {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .list-all-section {
    flex-direction: column-reverse;

    .left-nav {
      width: 100%;
      min-height: auto;
      position: fixed;
      bottom: 0;
      flex-direction: row;
      padding: 5px 0;
      z-index: 9;
      background-color: white;

      .logo-img {
        display: none;
        margin-top: 0;
      }

      .options-select-container {
        margin-left: 5px;
        margin-top: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      .user-image-container {
        position: relative;
        margin-bottom: 0;
      }
    }

    .middle-content {
      width: 100%;
      padding: 20px 10px;

      .user-cards-container {
        justify-items: center;
        margin-bottom: 50px;

        .user-card {
          max-width: 300px;
        }
      }
    
    }

    .middle-content.department{
      width: 100%;

     
    }
  }
}

//====================== NETWORK PROMPT MEDIA QUERY ==========================
@media screen and (max-width: 700px) {
  .people-you-may-know-section {
    flex-direction: column;
    .left-content {
      width: 100%;
      height: 0;
      min-height: 70vh;
    }

    .right-content {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .user-item {
    .con {
      .username-msg {
        h5 {
          max-width: 190px;
        }
        .l-message {
          max-width: 190px;
        }
      }
    }
  }
}

//=========================== EDIT PROFILE MEDIA QUERY ====================
@media screen and (max-width: 1240px) {
  .edit-profile-section {
    padding: 50px 150px;
  }
}

@media screen and (max-width: 1111px) {
  .edit-profile-section {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 1000px) {
  .edit-profile-section {
    padding: 50px;
  }
}

@media screen and (max-width: 890px) {
  .edit-profile-section {
    padding: 50px 20px;
    align-items: center;
    justify-content: center;
    .bottom {
      flex-direction: column;

      .b-right {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .edit-profile-section {
    .bottom {

      .b-left {
        width: 100%;

        .account-information-container {
          width: 100%;

          form {
            width: 100%;
          }
        }
      }

      .b-right {
        .why-container {
          .why-background {
            height: 300px;
          }
          .why-text-image {
            img {
              width: 120px;
            }

            .why-text {
              .txt-desc {
                line-height: 1.4;
              }
            }
          }
        }
      }

      .width-controller {
        width: 98%;
      }
    }
  }
}

////============================= VIEW PROFILE QUERIES ==============================

@media screen and (max-width: 500px){
  .view-profile-section{
    .container{
      flex-direction: column;
      padding: 20px;
      margin-top: 20px;
    }
  }
}