@import "base";
@import "config/config";

//=================================================
.chat-section {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
  
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .left-most-tile {
      width: 25%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      display: flex;
      padding: 20px;
      border-right: 0.4px solid var(--text-dark);
      background-color: var(--chat-background);
      transition: all 0.5s ease-in-out;
  
      .logo-showcase {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        width: 100%;
        justify-content: space-between;
  
        .mobile-close-left-most {
          display: none;
          svg {
            width: 25px;
            height: 25px;
            fill: var(--text-dark);
          }
        }
  
        .left {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        img {
          width: 50px;
        }
  
        h4 {
          font-size: 0.9rem;
        }
      }
  
      .all-chats-groups {
        margin-top: 30px;
        .all-chats {
          background-color: #e6eee1;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 20px;
          border-radius: 5px;
          cursor: pointer;
          margin-top: 10px;
  
          .left-all {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
          }
  
  
          i {
            font-size: 1.2rem;
          }
        }
  
        .all-groups {
          @extend .all-chats;
          background-color: white;
        }
      }
  
      .people-container {
        .top-holder {
          @extend .flex-row-center-between;
          p {
            font-size: 0.8rem;
            cursor: pointer;
          }
        }
  
        .image-caret-container {
          @extend .flex-row-center-between;
  
          .people-images-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;
  
            img {
              width: 47px;
              height: 47px;
              border-radius: 50%;
              margin-left: -5px;
              object-fit: cover;
              object-position: center;
            }
          }
  
          i {
            font-size: 1.5rem;
            color: var(--text-dark);
          }
        }
      }
  
      .departments-container {
        display: flex;
        flex-direction: column;
  
        .top-holder {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          cursor: pointer;
        }
  
        .all-departments {
          display: flex;
          flex-direction: column;
          margin-top: 1px;
          max-height: 150px;
          overflow-y: scroll;
          width: 100%;
  
          .department {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 5px;
            border-radius: 5px;
            margin-top: 5px;
            cursor: pointer;
            p{
              font-size: 0.8rem;
              color: var(--text-dark);
              max-width: 95%;
              text-overflow: ellipsis;
              overflow: hidden;
              text-wrap: nowrap;
            }
          }
  
          .department.selected {
            background-color: var(--soft-light-green);
          }
        }
  
        .browse-all-depts {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          gap: 8px;
          .search-con {
            padding: 7px;
            background-color: #e5e5e5;
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            i {
              color: var(--text-dark);
            }
          }
        }
      }
    }
  
    .center-tile {
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
  
      .center-item-top {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: var(--chat-background);
        height: 10%;
        .top-left {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
  
          .leftmost-mobile {
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            svg {
              width: 22px;
              height: 22px;
              fill: var(--text-dark);
            }
          }
        }
  
        .top-right {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          gap: 30px;
        }
  
        i {
          font-size: 1.3rem;
          color: var(--text-dark);
          cursor: pointer;
        }
  
        img {
          width: 47px;
          height: 47px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
  
        .notification-con {
          position: relative;
  
          .noti-alert {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red;
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid white;
            display: none;
          }
  
          .noti-alert.visible{
            display: block;
          }
        }
  
        .user-container {
          display: flex;
          flex-direction: row;
          align-items: center;
  
          .user-info-con {
            margin-left: 0.3rem;
  
            .fullname {
              font-size: 0.65rem;
              opacity: 0.8;
            }
          }
        }
      }
  
      .center-item-bottom {
        background-color: var(--chat-background);
        width: 100%;
        display: flex;
        flex-direction: row;
        //   height: 90vh;
        // min-height: 80vh;
  
        .center-item {
          width: 50%;
          background-color: var(--chat-background);
          height: 90vh;
          flex-grow: 1;
        }
  
        .center-left {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 10px;
          .search-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
  
            .search-bar {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              width: 100%;
  
              // .short-line{
              //     width: 2px;
              //     height: 30px;
              //     background-color: var(--main-green);
              // }
  
              input[type="text"] {
                background-color: white;
                padding: 10px 30px 10px 40px;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 4px;
                border-left: 2px solid var(--main-green);
              }
  
              i {
                position: absolute;
                left: 0;
                margin-left: 9px;
                color: var(--text-dark);
              }
            }
          }
  
          .chat-tiles-container {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;
            overflow-y: scroll;
            
            .threads-container{
                gap: 10px;

                display: flex;
                flex-direction: column;
                width: 100%;
                overflow-y: scroll;
            }
            .chat-item {
              cursor: pointer;
              display: flex;
              flex-direction: row;
              background-color: white;
              width: 100%;
              padding: 10px;
              align-items: center;
              justify-content: space-between;
  
              .con {
                display: flex;
                flex-direction: row;
                align-items: center;
  
                .image-container {
                  width: 55px;
                  height: 55px;
                  background-color: #e5e5e5;
                  border-radius: 50%;
  
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                  }
                }
  
                .username-msg {
                  margin-left: 10px;
                  h5 {
                    max-width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                  }
                  .l-message {
                    max-width: 140px;
                    font-size: 0.8rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--soft-grey);
                    text-wrap: nowrap;
                  }
                }
              }
  
              .time-num {
                display: flex;
                flex-direction: column;
                justify-self: flex-end;
                align-items: center;
  
                .time {
                  font-size: 0.7rem;
                  opacity: 0.6;
                  color: var(--main-green);
                }
  
                .num-container {
                  display: none;
                }
                .num-container.visible {
                  display: block;
                  background-color: var(--main-green);
                  border-radius: 50%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  width: 20px;
                  height: 20px;
                  margin-top: 2px;
  
                  .num {
                    color: white;
                    font-size: 0.7rem;
                  }
                }
              }
            }
          }
  
          .chat-tiles-container::-webkit-scrollbar {
            width: 0.3rem;
            background-color: var(--chat-background);
          }
  
          .chat-tiles-container::-webkit-scrollbar-thumb {
            border-radius: 2rem;
            background: #f1f2f2b4;
          }
        }
  
        .center-right {
          display: flex;
          flex-direction: column;
          .focused {
            display: flex;
            flex-direction: column;
            height: 90vh;
  
            .logged-in-user-info {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;
              .user-info {
                margin-left: 15px;
                .username {
                  font-family: "inter", sans-serif;
                  font-weight: 600;
                }
                .status {
                  font-size: 0.8rem;
                  opacity: 0.8;
                }
              
              }
              img {
                width: 65px;
                height: 65px;
                background-color: #e5e5e5;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
              }
            }
  
            .conversation-container::-webkit-scrollbar {
              width: 0.3rem;
              background-color: var(--chat-background);
            }
  
            .conversation-container::-webkit-scrollbar-thumb {
              border-radius: 2rem;
              background: #f1f2f2b4;
            }
  
            .conversation-container {
              position: relative;
              overflow-y: scroll;
              padding-top: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              gap: 10px;
              margin: auto;
              
  
              .day-con {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: center;
                margin-top: 3px;
                gap: 8px;
                margin: auto;
                .hor-line {
                  width: 60px;
                  height: 0.8px;
                  background-color: var(--soft-grey);
                  opacity: 0.4;
  
                }
                .day {
                  font-size: 0.7rem;
                  opacity: 0.8;
                }
              }
  
              .conv-left {
                flex-direction: row;
                align-self: flex-start;
                .conv-holder {
                  border-radius: 20px 7px 7px 0px;
                  background-color: white;
                  margin-left: 10px;
  
                  .message {
                    margin-left: 3px;
                  }
  
                  .date-time {
                    justify-self: flex-end;
                    align-self: flex-end;
                  }
                }
              }
  
              .conv-right {
                flex-direction: row-reverse;
                align-self: flex-end;
                flex-grow: 1;
                .conv-holder {
                  border-radius: 7px 20px 0px 7px;
                  background-color: var(--main-green);
                  margin-right: 10px;
  
                  .message {
                    color: white;
                  }
  
                  .date-time {
                    color: white;
                    align-self: flex-end;
                  }
                }
              }
  
              .conversation {
                display: flex;
                width: 95%;
  
                .u-profile-photo {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  justify-self: baseline;
                  align-self: flex-end;
                  object-fit: cover;
                  object-position: center;
                }
  
                .conv-holder {
                  display: flex;
                  flex-direction: column;
                  width: max-content;
                  max-width: 300px;
                  padding: 8px 15px;
                  margin-bottom: 10px;
                  max-width: 260px;
  
                  .date-time {
                    font-size: 0.6rem;
                    margin-top: 2px;
  
                    .msg-status {
                      font-size: 0.55rem;
                    }
                  }
                }
  
                .message {
                  font-size: 0.8rem;
                  opacity: 0.8;
                  line-height: 1.2rem;
                }
              }
            }
  
            .inputs-container {
              width: 100%;
              // min-height: 10vh;
              background-color: var(--chat-background);
              border-top: 0.5px solid var(--soft-grey);
              margin-top: 10px;
              display: flex;
              flex-direction: row;
              align-items: center;
              // justify-content: space-between;
  
              svg {
                width: 22px;
                height: 22px;
              }
  
              .attachment-icon {
                fill: var(--soft-grey);
              }
  
              form {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
  
                .chatmessage {
                  border: none;
                  outline: none;
                  flex-grow: 1;
                  margin: 10px;
                  resize: none;
                  padding: 10px;
                  background-color: var(--chat-background);
                  font-family: "poppins", sans-serif;
                }
  
                .chatmessage::-webkit-scrollbar {
                  width: 0.1rem;
                  background-color: white;
                }
  
                .chatmessage::-webkit-scrollbar-thumb {
                  border-radius: 2rem;
                  background: #ebf5ea;
                }
                button {
                  outline: none;
                  border: none;
                }
              }
  
              .send-container {
                background-color: var(--main-green);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                .send-icon {
                  fill: white;
                  margin: auto;
                }
              }
            }
          }
  
          .idle-con {
            width: 100%;
            height: 90vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
  
            .idle-img {
              width: 70px;
              opacity: 0.4;
            }
  
            .title-text {
              font-weight: 500;
            }
  
            .moto-txt {
              font-size: 0.8rem;
              opacity: 0.7;
            }
          }
        }
      }
  
      .chat-item.selected {
        border-left: 2px solid var(--main-green);
      }
    }
  
    .right-most-tile {
      position: relative;
      width: 25%;
      height: 100vh;
      background-color: var(--chat-background);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .profile-container{
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
  
        .profile-tile{
          width: 100%;
          display: flex;
          flex-direction: column;
        }
  
        .top-info {
          padding: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
    
          .left-con {
            .profile-username {
              font-size: 1rem;
            }
    
            .profile-fullname {
              font-size: 0.8rem;
              opacity: 0.7;
            }
          }
    
          i {
            font-size: 1.3rem;
            cursor: pointer;
          }
        }
    
       
        .profile-information {
          padding: 20px;
          display: flex;
          flex-direction: column;
    
          .username {
            font-size: 1.3rem;
            font-weight: 600;
          }
    
          .about {
            font-size: 0.8rem;
            opacity: 0.8;
          }
    
          .extras-container {
            margin-top: 10px;
          }
    
          .extra {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
    
            i {
              font-size: 1.2rem;
              color: var(--text-dark);
            }
    
            .extra-info {
              margin-left: 10px;
              width: 100%;
    
              .extra-description {
                font-size: 0.7rem;
                font-weight: 600;
              }
    
              .extra-content {
                font-size: 0.8rem;
                opacity: 0.8;
                max-width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
    
        .chat-with-person {
          width: 80%;
          max-width: 600px;
          align-self: center;
          background-color: var(--main-green);
          display: flex;
          flex-direction: row;
          padding: 15px;
          border: none;
          outline: none;
          align-items: center;
          border-radius: 8px;
          cursor: pointer;
          position: absolute;
          bottom: 30px;
          i {
            font-size: 1.2rem;
            color: white;
          }
          p {
            color: white;
            margin-left: 10px;
            font-weight: 500;
          }
        }
      }
  
     
    }
  }

  @import "media";
