@import "base";
@import "config/config";

.profile-tile {
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: var(--chat-background);
    display: flex;
    flex-direction: column;
  
    .top-info {
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  
      .left-con {
        .profile-username {
          font-size: 1rem;
        }
  
        .profile-fullname {
          font-size: 0.8rem;
          opacity: 0.7;
        }
      }
  
      i {
        display: none;
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  
    .profile-img-status-con {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .con {
        width: 90%;
        max-width: 200px;
        position: relative;
        height: max-content;
  
        img {
          width: 100%;
          height: 150px;
          max-width: 200px;
          border-radius: 8px;
          object-fit: cover;
          object-position: center;
          margin: auto;
        }
  
        .status {
          position: absolute;
          width: max-content;
          padding: 0.3rem;
          border-radius: 50px;
          bottom: 0;
          right: 10;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: var(--faint-soft-green);
  
  
          .circle {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: var(--hard-light-green);
            opacity: 0.7;
          }
  
          p {
            color: white;
            font-size: 0.6rem;
            margin-left: 0.3rem;
            color: var(--hard-light-green);
  
          }
        }
        .status.offline {
          background-color: #f3f3f3;
          p {
            opacity: 0.7;
            color: var(--text-dark);
          }
  
          .circle{
            background-color: var(--text-dark);
          }
        }
        .status.online {
          background-color: var(--faint-soft-green);
  
          p {
            color: var(--hard-light-green);
          }
        }
      }
    }
  
    .profile-information {
      padding: 20px;
      display: flex;
      flex-direction: column;
  
      .username {
        font-size: 1.3rem;
        font-weight: 600;
      }
  
      .about {
        font-size: 0.8rem;
        opacity: 0.8;
      }
  
      .extras-container {
        margin-top: 10px;
      }
  
      .extra {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
  
        i {
          font-size: 1.2rem;
          color: var(--text-dark);
        }
  
        .extra-info {
          margin-left: 10px;
          width: 100%;
  
          .extra-description {
            font-size: 0.7rem;
            font-weight: 600;
          }
  
          .extra-content {
            font-size: 0.8rem;
            opacity: 0.8;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  
    .chat-link {
      align-self: center;
      position: absolute;
      bottom: 30px;
      width: 80%;
      text-decoration: none;
      .chat-with-person {
        max-width: 600px;
        width: 100%;
        background-color: var(--main-green);
        display: flex;
        flex-direction: row;
        padding: 15px;
        border: none;
        outline: none;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        i {
          font-size: 1.2rem;
          color: white;
        }
        p {
          color: white;
          margin-left: 10px;
          font-weight: 500;
        }
      }
    }
  }

//=============================================
.list-all-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0ee;
  
    .left-nav {
      min-height: 100vh;
      width: 10%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .logo-img {
        width: 50px;
        height: 50px;
        margin-top: 20px;
      }
  
      .options-select-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        border-radius: 9px;
        .option-item {
          padding: 10px;
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-decoration: none;
  
          i {
            color: var(--text-dark);
            font-size: 1.3rem;
          }

        }
  
        .option-item.selected {
          background-color: var(--faint-soft-green);
  
          i {
            color: var(--hard-light-green);
          }

          svg{
            fill: var(--hard-light-green);
          }
        }
      }
  
      .user-image-container {
        bottom: 0;
        position: absolute;
        margin-bottom: 20px;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  
    .middle-content {
      width: 75%;
      height: 100vh;
      background-color: #f0f0ee;
      display: flex;
      flex-direction: column;
      padding: 20px;

  
      .top-middle {
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        .top-heading-text {
          font-size: 1.2rem;
        }
  
        .filter-present {
          display: flex;
          flex-direction: column;
          margin-top: 5px;
          .filter-msg {
            font-weight: 500;
            font-size: 0.8rem;
          }
          .filters-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            margin-top: 5px;
  
            .filter {
              display: flex;
              flex-direction: row;
              align-items: center;
              background-color: var(--chat-background);
              padding: 0.5rem;
              border-radius: 5px;
              gap: 5px;
              p {
                font-size: 0.8rem;
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap;
                opacity: 0.7;
              }
  
              a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-dark);
              }
              i {
                font-size: 1.2rem;
                cursor: pointer;
                color: var(--text-dark);
              }
            }
          }
        }
  
        .cancel-search-con {
          display: flex;
          flex-direction: column;
  
          a {
            font-size: 0.9rem;
            color: var(--main-green);
          }
        }
  
        .searching-for {
          font-size: 0.8rem;
          opacity: 0.7;
        }
      }
  
      .search-filter-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
  
        .search-input-container {
          position: relative;
          width: 80%;
          max-width: 350px;
          border-radius: 10px;
          display: flex;
          background-color: white;
          flex-direction: row;
          margin: 0;
  
          input {
            outline: none;
            border: none;
            padding: 10px;
            width: 100%;
            border-radius: 10px;
          }
  
          i, svg {
            position: absolute;
            right: 10px;
            top: 10px;
            color: var(--text-dark);
          }
        }
  
        .filter {
          padding: 10px;
          background-color: white;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 15px;
          cursor: pointer;
  
          i {
            opacity: 0.6;
          }

          svg{
            opacity: 0.6;
          }
        }
      }
  
      .user-cards-container::-webkit-scrollbar {
        width: 0.3rem;
        background-color: var(--chat-background);
      }
  
      .user-cards-container::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background: #f1f2f2b4;
        // min-height: 40px;
        // max-height: 100px;
      }
  
      .user-cards-container{
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        align-items: center;
        overflow-y: scroll;
  
        .empty-result {
          width: 100%;
          margin: 70px 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          opacity: 0.7;
  
          i {
            font-size: 1.3rem;
            color: var(--text-dark);
          }
        }
  
        .user-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          background-color: white;
          width: 90%;
          max-width: 250px;
          padding: 20px;
          border-radius: 10px;
          min-height: 300px;
          cursor: pointer;
  
          .profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }
  
          .txt-fullname {
            font-weight: 600;
            margin-top: 10px;
          }
  
          .sub-text {
            font-size: 0.85rem;
            opacity: 0.6;
          }
  
          .status {
            padding: 5px 15px;
            border-radius: 10px;
            margin: 5px;
            p {
              font-size: 0.7rem;
            }
          }
          .status.offline {
            background-color: #f3f3f3;
            p {
              opacity: 0.7;
            }
          }
          .status.online {
            background-color: var(--faint-soft-green);
  
            p {
              color: var(--hard-light-green);
            }
          }
  
          .department {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            justify-self: baseline;
            margin-top: 20px;
            i, svg {
              font-size: 0.9rem;
              opacity: 0.5;
            }
  
            p {
              overflow: hidden;
              width: 100%;
              max-width: 100%;
              text-overflow: ellipsis;
              text-wrap: nowrap;
              font-size: 0.85rem;
              margin-left: 4px;
              opacity: 0.5;
            }
          }
        }
      }

      .department-cards-container::-webkit-scrollbar {
        width: 0.3rem;
        background-color: var(--chat-background);
      }
  
      .department-cards-container::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background: #f1f2f2b4;
        // min-height: 40px;
        // max-height: 100px;
      }

      .department-cards-container {
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        align-items: center;
        overflow-y: scroll;
        justify-items: center;
        .department-card{
            display: flex;
            flex-direction: column;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: white;
            width: 90%;
            max-width: 250px;
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;

            .department-name{
                font-weight: 500;
            }

            .user-num{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 20px;


                svg{
                    width: 30px;
                    height: 30px;
                    fill: var(--hard-light-green);
                }

                .num-emp{
                    margin-left: 20px;

                    .num{
                        font-weight: 500;
                        font-size: 1.7rem;
                    }

                    .emp{
                        opacity: 0.6;
                        font-size: 0.9rem;
                    }
                }
            }
          }
      }


    }

    
    .middle-content.department{
        width: 90%;
    }
    
    .right-profile-content {
      width: 25%;
      min-height: 100vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .profile {
        width: 100%;
      }
      .loading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 25px;
          opacity: 0.6;
          height: 25px;
        }
  
        p {
          font-size: 0.9rem;
          opacity: 0.6;
          margin-top: 10px;
        }
      }
  
      .placeholder {
        opacity: 0.4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 70px;
          height: 70px;
        }
  
        p {
          font-size: 0.9rem;
        }
      }
    }
}

@import "media";
