@import "base";
@import "config/config";

a {
  text-decoration: none;
}

.status {
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: var(--faint-soft-green);
  width: max-content;

  p {
    font-size: 0.6rem;
    color: var(--hard-light-green);
  }
}

.top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;

  .btn-create-memo {
    display: flex;
    flex-direction: row;
    outline: none;
    border: none;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--main-green);
    cursor: pointer;

    p {
      color: white;
      margin-left: 10px;
    }

    svg {
      fill: white;
    }
  }

  .logo-acct {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .section-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    .left {
      h1 {
        color: #3c3c3c;
        font-size: 1.6rem;
      }

      p {
        font-size: 0.8rem;
        opacity: 0.5;
      }
    }

    .right {
      width: 90%;
      max-width: 400px;
      .search-input-container {
        position: relative;
        width: 80%;
        max-width: 400px;
        border-radius: 10px;
        display: flex;
        background-color: white;
        flex-direction: row;
        margin: 0;
        border: 0.4px solid var(--text-dark);

        input {
          outline: none;
          border: none;
          padding: 10px;
          width: 100%;
          border-radius: 10px;
        }

        i,
        svg {
          position: absolute;
          right: 10px;
          top: 10px;
          color: var(--text-dark);
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 0.3px;
    background-color: var(--text-dark);
    margin-top: 40px;
    opacity: 0.5;
  }
}

.memo-list-section {
  width: 100%;
  .memos-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .memo-item {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 60px;

      .left {
        img {
          width: 260px;
          height: 290px;
          object-fit: cover;
          object-position: center;
          border-radius: 8px;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: 90%;
        max-width: 500px;
        margin-top: 10px;

        .date-published {
          color: var(--main-green);
          font-size: 0.8rem;
        }

        .memo-title {
          color: #3c3c3c;
        }

        .memo-desc {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4; 
          margin-top: 10px;
          opacity: 0.6;
          font-size: 0.9rem;
          line-height: 1.7;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .memo-publisher {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }

          .right {
            margin-left: 10px;
            .publisher-name {
              font-weight: 500;
              color: black;
            }

            .publisher-dept {
              font-size: 0.9rem;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

.view-memo-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  align-items: center;
  margin: auto;

  .left {
    width: 100%;
    height: 70vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .right {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;

    .content-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 100%;
      justify-content: center;
      padding-bottom: 100px;

      .memo-title {
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--text-dark);
        max-inline-size: 80%;
      }

      .publisher-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }

        .right-info {
          display: flex;
          flex-direction: column;
          margin-left: 10px;

          .publisher-name {
            font-size: 1rem;
            font-weight: 500;
          }

          .date-pubilshed {
            font-size: 0.85rem;
            opacity: 0.7;
          }
        }
      }

      .memo-body-con {
        margin-top: 30px;

        .memo-body {
          line-height: 1.9;
        }
      }

      .attached-documents-container {
        margin-top: 30px;
        width: 100%;

        .attached-intro {
          font-weight: 600;
          color: var(--text-dark);
        }

        .message {
          font-size: 0.9rem;
          opacity: 0.5;
        }

        .documents-container {
          margin-top: 20px;
          width: 100%;

          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          gap: 20px;
          width: 100%;
          .document {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 0.5px solid #141414;
            // width: max-content;
            width: 90%;
            max-width: 310px;
            padding: 10px;
            border-radius: 7px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;

            .file-icon-con {
              width: 35px;
              height: 35px;
              background-color: #f7f7f7;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;
              flex-shrink: 0;
            }

            .file-info {
              margin-left: 10px;
              color: #141414;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              flex-grow: 1;

              .file-name {
                font-size: 0.9rem;
                font-weight: 500;
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 250px;
                padding-right: 30px;
              }

              .file-size {
                font-size: 0.8rem;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .memo-section {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 1050px) {
  .memo-section {
    padding: 10px 50px;
  }
}

@media screen and (max-width: 950px) {
  .view-memo-section {
    .right {
      padding: 20px;
    }
  }
  .memo-section {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 600px) {
  .memo-list-section {
    .memos-container {
      .memo-item {
        .left {
          img {
            height: 240px;
          }
        }

        .right {
          margin-left: 0;
        }

        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 810px) {
  .top-section {
    .btn-create-memo {
      padding: 10px;
      font-size: 0.8rem;
      svg {
        width: 15px;
        height: 15px;
      }
    }
    .section-header {
      flex-direction: column;
      align-items: flex-start;

      .right {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .view-memo-section {
    .right {
      .content-container {
        width: 100%;

        .memo-title {
          font-size: 2rem;
        }

        .memo-body-con {
          .memo-body {
            font-size: 0.9rem;
          }
        }

        .attached-documents-container {
          .documents-container {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

            .document {
              .file-icon-con {
                width: 25px;
                height: 25px;

                svg {
                  width: 15px;
                  height: 15px;
                }
              }

              .file-info {
                .file-name {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
