@import "base";
@import "config/config";

.profile-tile {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: var(--chat-background);
  display: flex;
  flex-direction: column;

  .top-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .left-con {
      .profile-username {
        font-size: 1rem;
      }

      .profile-fullname {
        font-size: 0.8rem;
        opacity: 0.7;
      }
    }

    i {
      display: none;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  .profile-img-status-con {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .con {
      width: 90%;
      max-width: 200px;
      position: relative;
      height: max-content;

      img {
        width: 100%;
        height: 150px;
        max-width: 200px;
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
        margin: auto;
      }

      .status {
        position: absolute;
        background-color: var(--main-green);
        width: max-content;
        padding: 0.3rem;
        border-radius: 50px;
        bottom: 0;
        right: 10;
        display: flex;
        flex-direction: row;
        align-items: center;

        .circle {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: white;
        }

        p {
          color: white;
          font-size: 0.6rem;
          margin-left: 0.3rem;
        }
      }
    }
  }

  .profile-information {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .username {
      font-size: 1.3rem;
      font-weight: 600;
    }

    .about {
      font-size: 0.8rem;
      opacity: 0.8;
    }

    .extras-container {
      margin-top: 10px;
    }

    .extra {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      i {
        font-size: 1.2rem;
        color: var(--text-dark);
      }

      .extra-info {
        margin-left: 10px;
        width: 100%;

        .extra-description {
          font-size: 0.7rem;
          font-weight: 600;
        }

        .extra-content {
          font-size: 0.8rem;
          opacity: 0.8;
          max-width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .chat-link {
    align-self: center;
    position: absolute;
    bottom: 30px;
    width: 80%;
    text-decoration: none;
    .chat-with-person {
      max-width: 600px;
      width: 100%;
      background-color: var(--main-green);
      display: flex;
      flex-direction: row;
      padding: 15px;
      border: none;
      outline: none;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      i {
        font-size: 1.2rem;
        color: white;
      }
      p {
        color: white;
        margin-left: 10px;
        font-weight: 500;
      }
    }
  }
}

header {
  width: 100%;
  border-bottom: 0.5px solid var(--like-black);

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--section-edge-padding);

    .mobile {
      display: none;

      i {
        font-size: var(--menu-size);
      }
    }
    .el-one {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .el-two {
      width: 100%;
      max-width: 350px;
      ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: var(--like-black);
          }
        }
      }

      .close-nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        display: none;
        i {
          font-size: var(--menu-size);
        }
      }
    }

    .el-three {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      .user-auth {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
          fill: var(--text-dark);
        }

        p {
          margin-left: 5px;
          font-weight: 500;
          max-width: 70px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
        }
      }

      .signin {
        background-color: white;

        color: var(--like-black);
        font-weight: 500;
      }

      .register {
        background-color: var(--text-dark);
        color: white;
        border-radius: 30px;
      }
      button {
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        outline: none;
      }
    }

    .el-three.phone {
      display: none;
      margin: 20px 0;
    }
  }
}

.hero-section {
  width: 100%;
  // min-height: 80vh;

  .container {
    height: 100%;
    display: flex;
    // min-height: 80vh;
    margin-top: 50px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    .top-showcase {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.2rem;
      i {
        color: rgb(253, 168, 56);
      }

      p {
        color: var(--soft-grey);
      }
    }
    .welcome-txt {
      font-size: 1rem;
      margin-top: 6px;
    }
    .main-text {
      font-size: 4rem;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      color: var(--text-dark);
    }

    .buttons-container {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .btn-get-started {
        background-color: var(--main-green);
        color: white;
      }
      button {
        padding: 15px 20px;
        cursor: pointer;
        border-radius: 5px;
        outline: none;
        border: none;
      }
    }
  }

  .right-content {
    width: 50%;

    .image-container {
      width: 100%;
      max-width: 350px;
      height: 450px;
      margin-left: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
      }
    }
  }
}
.why-use-digital-network {
  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  .container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;

    h1 {
      font-family: "Poppins", sans-serif;
    }

    .left-content {
      padding: 10px;
      h1 {
        color: var(--text-dark);
      }
    }

    .right-content {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      align-items: end;
      justify-items: end;

      .reason-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        padding: 20px;
        .reason-image {
          padding: 0.5rem 0.8rem;
          font-size: 1.4rem;
          border-radius: 5px;
        }

        .text-container {
          margin-top: 10px;

          .card-title {
            max-width: 300px;
          }

          .card-des {
            max-width: 300px;
            font-size: 0.9rem;
            color: var(--soft-grey);
            margin-top: 5px;
          }
        }
      }
    }
  }
}

//=================================================
.chat-section {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  .left-most-tile {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 20px;
    border-right: 0.4px solid var(--text-dark);
    background-color: var(--chat-background);
    transition: all 0.5s ease-in-out;

    .logo-showcase {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: flex-start;
      width: 100%;
      justify-content: space-between;

      .mobile-close-left-most {
        display: none;
        svg {
          width: 25px;
          height: 25px;
          fill: var(--text-dark);
        }
      }

      .left {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      img {
        width: 50px;
      }

      h4 {
        font-size: 0.9rem;
      }
    }

    .all-chats-groups {
      margin-top: 30px;
      .all-chats {
        background-color: #e6eee1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;

        .left-all {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
        }

        i {
          font-size: 1.2rem;
        }
      }

      .all-groups {
        @extend .all-chats;
        background-color: white;
      }
    }

    .people-container {
      .top-holder {
        @extend .flex-row-center-between;
        p {
          font-size: 0.8rem;
          cursor: pointer;
        }
      }

      .image-caret-container {
        @extend .flex-row-center-between;

        .people-images-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 20px;

          img {
            width: 47px;
            height: 47px;
            border-radius: 50%;
            margin-left: -5px;
            object-fit: cover;
            object-position: center;
          }
        }

        i {
          font-size: 1.5rem;
          color: var(--text-dark);
        }
      }
    }

    .departments-container {
      display: flex;
      flex-direction: column;

      .top-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        cursor: pointer;
      }

      .all-departments {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .department {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          padding: 5px;
          border-radius: 5px;
          margin-top: 5px;
          cursor: pointer;
          p,
          i {
            font-size: 0.8rem;
            color: var(--text-dark);
          }
        }

        .department.selected {
          background-color: var(--soft-light-green);
        }
      }

      .browse-all-depts {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        gap: 8px;
        .search-con {
          padding: 7px;
          background-color: #e5e5e5;
          width: max-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          i {
            color: var(--text-dark);
          }
        }
      }
    }
  }

  .center-tile {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .center-item-top {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background-color: var(--chat-background);
      height: 10%;
      .top-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .leftmost-mobile {
          height: max-content;
          display: flex;
          align-items: center;
          justify-content: center;
          display: none;
          svg {
            width: 22px;
            height: 22px;
            fill: var(--text-dark);
          }
        }
      }

      .top-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
      }

      i {
        font-size: 1.3rem;
        color: var(--text-dark);
        cursor: pointer;
      }

      img {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .notification-con {
        position: relative;

        .noti-alert {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: red;
          position: absolute;
          top: 0;
          right: 0;
          border: 1px solid white;
        }
      }

      .user-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .user-info-con {
          margin-left: 0.3rem;

          .fullname {
            font-size: 0.65rem;
            opacity: 0.8;
          }
        }
      }
    }

    .center-item-bottom {
      background-color: var(--chat-background);
      width: 100%;
      display: flex;
      flex-direction: row;
      //   height: 90vh;
      // min-height: 80vh;

      .center-item {
        width: 50%;
        background-color: var(--chat-background);
        height: 90vh;
        flex-grow: 1;
      }

      .center-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        .search-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .search-bar {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            // .short-line{
            //     width: 2px;
            //     height: 30px;
            //     background-color: var(--main-green);
            // }

            input[type="text"] {
              background-color: white;
              padding: 10px 30px 10px 40px;
              width: 100%;
              border: none;
              outline: none;
              border-radius: 4px;
              border-left: 2px solid var(--main-green);
            }

            i {
              position: absolute;
              left: 0;
              margin-left: 9px;
              color: var(--text-dark);
            }
          }
        }

        .chat-tiles-container {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          width: 100%;
          gap: 10px;
          overflow-y: scroll;

          .chat-item {

            cursor: pointer;
            display: flex;
            flex-direction: row;
            background-color: white;
            width: 100%;
            padding: 10px;
            align-items: center;
            justify-content: space-between;

            .con {
              display: flex;
              flex-direction: row;
              align-items: center;

              .image-container {
                width: 55px;
                height: 55px;
                background-color: #e5e5e5;
                border-radius: 50%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 50%;
                }
              }

              .username-msg {
                margin-left: 10px;
                h5 {
                  max-width: 140px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  text-wrap: nowrap;
                }
                .l-message {
                  max-width: 140px;
                  font-size: 0.8rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: var(--soft-grey);
                  text-wrap: nowrap;
                }
              }
            }

            .time-num {
              display: flex;
              flex-direction: column;
              justify-self: flex-end;
              align-items: center;

              .time {
                font-size: 0.7rem;
                opacity: 0.7;
              }

              .num-container {
                background-color: var(--main-green);
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                margin-top: 2px;

                .num {
                  color: white;
                  font-size: 0.7rem;
                }
              }
            }
          }
        }

        .chat-tiles-container::-webkit-scrollbar {
          width: 0.3rem;
          background-color: var(--chat-background);
        }

        .chat-tiles-container::-webkit-scrollbar-thumb {
          border-radius: 2rem;
          background: #f1f2f2b4;
          // min-height: 40px;
          // max-height: 100px;
        }
      }

      .center-right {
        display: flex;
        flex-direction: column;
        .focused{
          display: flex;
          flex-direction: column;
          height: 90vh;

          .logged-in-user-info {
            display: flex;
            flex-direction: row;
            align-items: center;
  
            .user-info {
              margin-left: 15px;
              .username {
                font-family: "inter", sans-serif;
                font-weight: 600;
              }
              .status {
                font-size: 0.8rem;
                opacity: 0.8;
              }
            }
            img {
              width: 65px;
              height: 65px;
              background-color: #e5e5e5;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }
          }
  
          .conversation-container::-webkit-scrollbar {
            width: 0.3rem;
            background-color: var(--chat-background);
          }
  
          .conversation-container::-webkit-scrollbar-thumb {
            border-radius: 2rem;
            background: #f1f2f2b4;
          }
  
          .conversation-container {
            position: relative;
            overflow-y: scroll;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 10px;
            margin: auto;
  
            .day-con {
              display: flex;
              flex-direction: row;
              align-items: center;
              width: 100%;
              justify-content: center;
              margin-top: 3px;
              gap: 8px;
              margin: auto;
              .hor-line {
                width: 60px;
                height: 1px;
                background-color: var(--soft-grey);
                opacity: 0.6;
              }
              .day {
                font-size: 0.8rem;
                opacity: 0.8;
              }
            }
  
            .conv-left {
              flex-direction: row;
              align-self: flex-start;
              .conv-holder {
                border-radius: 20px 7px 7px 0px;
                background-color: white;
                margin-left: 10px;
  
                .message {
                  margin-left: 3px;
                }
  
                .date-time {
                  justify-self: flex-end;
                  align-self: flex-end;
  
                  
                }
              }
            }
  
            .conv-right {
              flex-direction: row-reverse;
              align-self: flex-end;
              flex-grow: 1;
              .conv-holder {
                border-radius: 7px 20px 0px 7px;
                background-color: var(--main-green);
                margin-right: 10px;
  
                .message {
                  color: white;
                }
  
                .date-time {
                  color: white;
                  align-self: flex-end;
                }
              }
            }
  
            .conversation {
              display: flex;
              width: 95%;
  
              .u-profile-photo {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                justify-self: baseline;
                align-self: flex-end;
                object-fit: cover;
                object-position: center;
              }
  
              .conv-holder {
                display: flex;
                flex-direction: column;
                width: max-content;
                max-width: 300px;
                padding: 8px 15px;
                margin-bottom: 10px;
                max-width: 260px;
  
                .date-time {
                  font-size: 0.6rem;
                  margin-top: 2px;
                  
                  .msg-status{
                    font-size: 0.55rem;
                  }
                }
              }
  
              .message {
                font-size: 0.8rem;
                opacity: 0.8;
                line-height: 1.2rem;
              }
            }
          }
  
          .inputs-container {
            width: 100%;
            // min-height: 10vh;
            background-color: var(--chat-background);
            border-top: 0.5px solid var(--soft-grey);
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: space-between;
  
            svg {
              width: 22px;
              height: 22px;
            }
  
            .attachment-icon {
              fill: var(--soft-grey);
            }
  
            form {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;
  
              .chatmessage {
                border: none;
                outline: none;
                flex-grow: 1;
                margin: 10px;
                resize: none;
                padding: 10px;
                background-color: var(--chat-background);
                font-family: "poppins", sans-serif;
              }
  
              .chatmessage::-webkit-scrollbar {
                width: 0.1rem;
                background-color: white;
              }
  
              .chatmessage::-webkit-scrollbar-thumb {
                border-radius: 2rem;
                background: #ebf5ea;
              }
              button {
                outline: none;
                border: none;
              }
            }
  
            .send-container {
              background-color: var(--main-green);
              border-radius: 50%;
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px;
              .send-icon {
                fill: white;
                margin: auto;
              }
            }
          }
        }

        .idle-con{
          width: 100%;
          height: 90vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .idle-img{
            width: 70px;
            opacity: 0.4;
          }

          .title-text{
            font-weight: 500;
          }

          .moto-txt{
            font-size: 0.8rem;
            opacity: 0.7;
          }
        }

        
      }
    }

    .chat-item.selected {
      border-left: 2px solid var(--main-green);
    }
  }

  .right-most-tile {
    position: relative;
    width: 25%;
    height: 100vh;
    background-color: var(--chat-background);
    display: flex;
    flex-direction: column;

    .top-info {
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .left-con {
        .profile-username {
          font-size: 1rem;
        }

        .profile-fullname {
          font-size: 0.8rem;
          opacity: 0.7;
        }
      }

      i {
        font-size: 1.3rem;
        cursor: pointer;
      }
    }

    .profile-img-status-con {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .con {
        position: relative;

        img {
          width: 80%;
          max-width: 200px;
          border-radius: 8px;
        }

        .status {
          position: absolute;
          background-color: var(--main-green);
          width: max-content;
          padding: 0.3rem;
          border-radius: 50px;
          bottom: 0;
          right: 10;
          display: flex;
          flex-direction: row;
          align-items: center;

          .circle {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: white;
          }

          p {
            color: white;
            font-size: 0.6rem;
            margin-left: 0.3rem;
          }
        }
      }
    }

    .profile-information {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .username {
        font-size: 1.3rem;
        font-weight: 600;
      }

      .about {
        font-size: 0.8rem;
        opacity: 0.8;
      }

      .extras-container {
        margin-top: 10px;
      }

      .extra {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        i {
          font-size: 1.2rem;
          color: var(--text-dark);
        }

        .extra-info {
          margin-left: 10px;
          width: 100%;

          .extra-description {
            font-size: 0.7rem;
            font-weight: 600;
          }

          .extra-content {
            font-size: 0.8rem;
            opacity: 0.8;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .chat-with-person {
      width: 80%;
      max-width: 600px;
      align-self: center;
      background-color: var(--main-green);
      display: flex;
      flex-direction: row;
      padding: 15px;
      border: none;
      outline: none;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      position: absolute;
      bottom: 30px;
      i {
        font-size: 1.2rem;
        color: white;
      }
      p {
        color: white;
        margin-left: 10px;
        font-weight: 500;
      }
    }
  }
}

//==============================================
.confirmotp-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  img {
    width: 80%;
    max-width: 400px;
  }

  div.right-section {
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .alert {
      margin: 15px 0;
    }
    .prompt-message {
      font-size: 0.9rem;
      opacity: 0.8;
      max-width: 400px;
    }

    .resend-prompt {
      text-align: center;
      margin-top: 17px;
      font-size: 0.9rem;
    }
    form {
      width: 100%;
      max-width: 300px;
      align-items: flex-start;
      input[type="text"] {
        text-align: center;
      }
      input[type="submit"] {
        margin-top: 20px;
        border-radius: 5px;
      }
    }
  }
}

//==============================================
.selectdept-container {
  margin: auto;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  min-height: 90vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 1000;

  .header-search-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    input[type="text"] {
      padding: 15px;
      width: 90%;
      background-color: #f3f3f3;
      outline: none;
      border-radius: 20px;
      border: none;
      margin-top: 20px;
    }
  }

  .departments-container::-webkit-scrollbar {
    width: 0.3rem;
    background-color: var(--chat-background);
  }

  .departments-container::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: #828a8ab4;
    // min-height: 40px;
    // max-height: 100px;
  }

  .departments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    overflow-y: scroll;

    .department-not-found {
      display: flex;
      opacity: 0.6;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      i {
        font-size: 1.3rem;
        color: var(--text-dark);
      }
    }

    .department-item {
      cursor: pointer;
      margin: 3px 0;
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      border-radius: 5px;

      .selected-indicator {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid var(--main-green);
      }

      .right {
        display: flex;
        flex-direction: column;
        margin-left: 0.7rem;

        .office-name {
          color: #303132;
          font-weight: 500;
        }

        .department-name {
          font-size: 0.7rem;
          color: #303132;
          opacity: 0.6;
        }
      }
    }

    .department-item.selected {
      background-color: #f3f3f3;

      .selected-indicator {
        background-color: var(--main-green);
      }
    }
  }

  .bottom-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
    }

    .continue-btn {
      background-color: var(--main-green);
      padding: 15px 20px;
      cursor: pointer;
      color: white;
      outline: none;
      border: none;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      img {
        width: 20px;
        height: 20px;
      }
    }

    .continue-btn:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }

  .hor-line {
    width: 90%;
    background-color: #f3f4f4;
    height: 1.7px;
  }
}

//================================================
.edit-profile-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .left-content {
    width: 30%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;

    .top-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;
      gap: 10px;
      img {
        width: 30px;
        height: 30px;
      }

      .logo-text {
        font-size: 0.9rem;
        font-weight: 600;
      }
    }

    .dashboard-con {
      display: flex;
      padding: 20px;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin: 0 10px;

      i {
        font-size: 1.6rem;
      }
    }

    .bottom-content {
      position: absolute;
      bottom: 0;
      .logout-con {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        gap: 10px;
        cursor: pointer;
        i {
          opacity: 0.7;
          font-size: 1.3rem;
        }

        p {
          opacity: 0.7;
        }
      }
    }

    .dashboard-con.selected {
      border-left: 2px solid var(--main-green);

      i {
        color: var(--main-green);
      }

      p {
        color: var(--main-green);
      }
    }
  }

  .right-content {
    padding: 20px;
    width: 70%;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;

    .welcome-container {
      .welcome-text {
        font-size: 1rem;
        font-weight: 500;
      }

      .join-date {
        font-size: 0.8rem;
        opacity: 0.5;
        margin-top: 1px;
      }
    }

    .txt-acct-info-container {
      margin-top: 20px;

      .main-txt {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .sub-text {
        font-size: 0.9rem;
        opacity: 0.5;
      }
    }

    .p-info-con {
      margin-top: 30px;

      .txt-p-info {
        font-weight: 600;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .grid-con {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
      }

      label {
        display: block;
        font-weight: 500;
        font-size: 0.7rem;
        color: #979797;
      }

      input[type="text"] {
        background-color: white;
        border-bottom: none;
        margin-top: 5px;
        border-radius: 1px;
      }

      textarea {
        width: 100%;
        padding: 0.9rem;
        background-color: white;
        outline: none;
        border: none;
        font-family: "poppins", sans-serif;
      }

      .dept-select {
        background-color: white;
        padding: 0.9rem;
        outline: none;
        border: none;
        width: 100%;
        max-width: 250px;
      }
    }
  }
}

//=============================================
.list-all-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0ee;

  .left-nav {
    min-height: 100vh;
    width: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .logo-img {
      width: 50px;
      height: 50px;
      margin-top: 20px;
    }

    .options-select-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      border-radius: 9px;
      .option-item {
        padding: 10px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          color: var(--text-dark);
          font-size: 1.3rem;
        }
      }

      .option-item.selected {
        background-color: var(--faint-soft-green);

        i {
          color: var(--hard-light-green);
        }
      }
    }

    .user-image-container {
      bottom: 0;
      position: absolute;
      margin-bottom: 20px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .middle-content {
    width: 75%;
    height: 100vh;
    background-color: #f0f0ee;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .top-middle {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .top-heading-text {
        font-size: 1.2rem;
      }

      .filter-present {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        .filter-msg {
          font-weight: 500;
          font-size: 0.8rem;
        }
        .filters-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          margin-top: 5px;

          .filter {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: var(--chat-background);
            padding: 0.5rem;
            border-radius: 5px;
            gap: 5px;
            p {
              font-size: 0.8rem;
              max-width: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
              text-wrap: nowrap;
              opacity: 0.7;
            }

            a {
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--text-dark);
            }
            i {
              font-size: 1.2rem;
              cursor: pointer;
              color: var(--text-dark);
            }
          }
        }
      }

      .cancel-search-con {
        display: flex;
        flex-direction: column;

        a {
          font-size: 0.9rem;
          color: var(--main-green);
        }
      }

      .searching-for {
        font-size: 0.8rem;
        opacity: 0.7;
      }
    }

    .search-filter-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;

      .search-input-container {
        position: relative;
        width: 80%;
        max-width: 350px;
        border-radius: 10px;
        display: flex;
        background-color: white;
        flex-direction: row;
        margin: 0;

        input {
          outline: none;
          border: none;
          padding: 10px;
          width: 100%;
          border-radius: 10px;
        }

        i {
          position: absolute;
          right: 10px;
          top: 10px;
          color: var(--text-dark);
        }
      }

      .filter {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        cursor: pointer;

        i {
          opacity: 0.6;
        }
      }
    }

    .user-cards-container::-webkit-scrollbar {
      width: 0.3rem;
      background-color: var(--chat-background);
    }

    .user-cards-container::-webkit-scrollbar-thumb {
      border-radius: 2rem;
      background: #f1f2f2b4;
      // min-height: 40px;
      // max-height: 100px;
    }

    .user-cards-container {
      width: 100%;
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      align-items: center;
      overflow-y: scroll;

      .empty-result {
        width: 100%;
        margin: 70px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        opacity: 0.7;

        i {
          font-size: 1.3rem;
          color: var(--text-dark);
        }
      }

      .user-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        width: 90%;
        max-width: 250px;
        padding: 20px;
        border-radius: 10px;
        min-height: 300px;
        cursor: pointer;

        .profile-img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }

        .txt-fullname {
          font-weight: 600;
          margin-top: 10px;
        }

        .sub-text {
          font-size: 0.85rem;
          opacity: 0.6;
        }

        .status {
          padding: 5px 15px;
          border-radius: 10px;
          margin: 5px;
          p {
            font-size: 0.7rem;
          }
        }
        .status.offline {
          background-color: #f3f3f3;
          p {
            opacity: 0.7;
          }
        }
        .status.online {
          background-color: var(--faint-soft-green);

          p {
            color: var(--hard-light-green);
          }
        }

        .department {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          justify-self: baseline;
          margin-top: 20px;
          i {
            font-size: 0.9rem;
            opacity: 0.5;
          }

          p {
            overflow: hidden;
            width: 100%;
            max-width: 100%;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            font-size: 0.85rem;
            margin-left: 4px;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .right-profile-content {
    width: 25%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .profile {
      width: 100%;
    }
    .loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 25px;
        opacity: 0.6;
        height: 25px;
      }

      p {
        font-size: 0.9rem;
        opacity: 0.6;
        margin-top: 10px;
      }
    }

    .placeholder {
      opacity: 0.4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 70px;
        height: 70px;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

//===========================================================
.people-you-may-know-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  .left-content {
    width: 40%;
    height: 100vh;
    position: relative;

    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .build-network {
        padding: 20px;
        h1 {
          color: white;
          font-size: 2.4rem;
        }

        p{
          max-width: 80%;
          color: rgb(243, 240, 240);
          font-size: 1.1rem;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .right-content{
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--chat-background);
    align-items: center;
    justify-content: center;
    position: relative;

    .p-1{
      font-weight: 500;
    }

    .p-2{
      font-size: 0.7rem;
      opacity: 0.6;
    }

    .users-container{
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .see-all-prompt{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      .p-th{
        font-size: 0.6rem;
        opacity: 0.7;
      }

      .btn-arr-txt{
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-decoration: none;
        align-items: center;
        margin-top: 5px;
        border: 0.5px solid var(--text-dark);
        padding: 10px 20px;
        border-radius: 50px;

        i{
          color: var(--text-dark);
          font-size: 1rem;
        }

        p{
          font-weight: 500;
          color: var(--text-dark);
          font-size: 0.9rem;
        }
      }
    }
  }
}

//=================================================
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  opacity: 0.4;
  position: absolute;
  z-index: 4;
  background-color: black;
  display: none;
}

.modal-overlay.visible {
  display: block;
}

@import "media";
