//contains configurations for the project

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --body-font: 'poppins', sans-serif;

    //colors
    --like-black: #191D29;
    --soft-red2: #9F3418;
    --text-dark: #49566B;
    --soft-light-green: #E8F4E3;
    --chat-background:#FBFBFB;
    --faint-soft-green: #EBF5EA;
    --hard-light-green: #6BBC50;
    --memo-background: #F9F9F9;
    --progress-empty: #E2F0DE;
    --txt-darker: #3C3C3C;

    --soft-red: #EC6249;
    --soft-grey: #8A9099;
    --generic-grey: #f4f4f3;
    --light-red-01: #F2E4DF;
    --main-green: #355E2D;


    --section-edge-padding: 100px;
    --menu-size: 1.7rem;


}

html{
    scroll-behavior: smooth;
  }